<?php
/**
 * You are allowed to use this API in your web application.
 *
 * Copyright (C) 2016 by customweb GmbH
 *
 * This program is licenced under the customweb software licence. With the
 * purchase or the installation of the software in your application you
 * accept the licence agreement. The allowed usage is outlined in the
 * customweb software licence which can be found under
 * http://www.sellxed.com/en/software-license-agreement
 *
 * Any modification or distribution is strictly forbidden. The license
 * grants you the installation in one application. For multiuse you will need
 * to purchase further licences at http://www.sellxed.com/shop.
 *
 * See the customweb software licence agreement for more details.
 *
 *
 * @category	Customweb
 * @package		Customweb_PayPalCw
 * 
 */
?>

<p><?php echo $this->__('Payment with %s', $this->htmlEscape($this->getMethod()->getTitle())) ?></p>

<?php if ($this->getOrder() != null && $this->getPaymentId() != null && $this->getMethod()->getPaymentMethodConfigurationValue('show_payment_id')) : ?>
	<p><?php echo $this->__('Payment Id') ?>: <?php echo $this->escapeHtml($this->getPaymentId()) ?></p>
<?php endif; ?>

<?php if ($this->getOrder() != null && $this->getPaymentInformation() != null) : ?>
	<p><?php echo $this->getPaymentInformation(); ?></p>
<?php endif; ?>