<?php
/**
 *
 */
?>
<?php
$time = $this->getTimeArray();
$size = count($time);
?>
<?php if (!empty($time)): ?>
<div id="ajax-loader-abo" class="ajax-loader hidden">
    <img src="<?php echo $this->getSkinUrl('images/ajax-loader.gif') ?>" alt="ajax-loader" />
</div>
    <table id="abo-calculator-results">
        <tbody>
            <tr id="months">
                <td><?php echo $this->__('Shipping Cycle') ?></td>
                <?php foreach ($time as $i => $name): ?>
                    <td class="<?php ?>"><?php echo $name ?></td>
                <?php endforeach; ?>
            </tr>
            <tr id="smoke-per-m">
                <td><?php echo $this->__('Anzahl Stangen') ?></td>
                <?php foreach ($time as $i => $name): ?>
                    <td>-</td>
                <?php endforeach; ?>
            </tr>
            <tr id="cost-per-carton">
                <td><?php echo $this->__('Kosten/Stange') ?></td>
                <?php foreach ($time as $i => $name): ?>
                    <td>-</td>
                <?php endforeach; ?>
            </tr>
            <tr id="total-cost">
                <td><?php echo $this->__('Kosten Abo') ?></td>
                <?php foreach ($time as $i => $name): ?>
                    <td>-</td>
                <?php endforeach; ?>
            </tr>
            <tr id="abo-save">
                <td><?php echo $this->__('Sie sparen zusätzlich') ?></td>
                <?php foreach ($time as $i => $name): ?>
                    <td>-</td>
                <?php endforeach; ?>
            </tr>
            <tr id="abo-free-shipping">
                <td><?php echo $this->__('Free Shipping') ?></td>
                <?php foreach ($time as $i => $name): ?>
                    <td>-</td>
                <?php endforeach; ?>
            </tr>
            <tr id="abo-add-cart">
                <td>&nbsp;</td>
                <?php foreach ($time as $i => $name): ?>
                    <td><a href="javascript:void(0)" class="ajax-cart btn-cart"><i class="icon-shopping-cart"></i></a></td>
                <?php endforeach; ?>
            </tr>
        </tbody>
    </table>
    <div class="abo_cal">
        <ul>
            <?php foreach ($time as $i => $name): ?>
                <li>
                    <div class="title_toggle"><h1><?php echo $this->__('Shipping Cycle') ?></h1><h5><?php echo $name ?></h5></div>
                    <div class="data_wrapper">
                        <div class="month_data">
                            <div><?php echo $this->__('Anzahl Stangen') ?></div>
                            <div class="data">-</div>
                        </div>
                        <div class="csot_data">
                            <div><?php echo $this->__('Kosten/Stange') ?></div>
                            <div class="data">-</div>
                        </div>
                        <div class="total_cost_data">
                            <div><?php echo $this->__('Kosten Abo') ?></div>
                            <div class="data">-</div>
                        </div>
                        <div class="abo_save_data">
                            <div><?php echo $this->__('Sie sparen zusätzlich') ?></div>
                            <div class="data">-</div>
                        </div>
                        <div class="abo_free_data">
                            <div><?php echo $this->__('Free Shipping') ?></div>
                            <div class="data">-</div>
                        </div>
                        <div class="abo_cart_data">
                            <div>&nbsp;</div>
                            <div class="data">&nbsp;</div>
                        </div>
                    </div>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
    <script
        type="text/javascript">decorateTable('abo-calculator-results', {'tr td': ['odd', 'even', 'first', 'last']});</script>
<?php else: ?>
    <div class="error">Something is wrong</div>
<?php endif; ?>