<?php $index = $this->getIndex() ?>
<?php $data = $this->getRowData() ?>
<?php $elementName = $this->getElement()->getName() ?>
<tbody id="plans-row-<?php echo $index ?>">
	<tr>
		<td><?php echo $data->getDescription() ?></td>
		<td><?php echo $data->getPeriodUnitLabel() ?></td>
		<td class="a-right"><?php echo $data->getPeriodFrequency() ?></td>
		<td class="a-right"><?php echo $data->getPeriodMaxCycles() ?></td>
		<td class="a-right"><?php echo $data->getCancelPeriod() ?></td>
		<td class="a-right"><?php echo $data->getOrder() ?></td>
		<td class="nowrap a-right">
			<a onclick="subscriptionPlansForm.removeRow('plans-row-<?php echo $index ?>');" class="table-form-btn-remove"></a>
			<a onclick="subscriptionPlansForm.editRow('plans-row-<?php echo $index ?>');" class="table-form-btn-edit"></a>

			<input type="hidden" class="plans-data-description" data-name="description" name="<?php echo $elementName ?>[description][<?php echo $index ?>]" value="<?php echo $data->getDescription() ?>" />
			<input type="hidden" class="plans-data-period-unit" data-name="period_unit" name="<?php echo $elementName ?>[period_unit][<?php echo $index ?>]" value="<?php echo $data->getPeriodUnit() ?>" />
			<input type="hidden" class="plans-data-period-frequency" data-name="period_frequency" name="<?php echo $elementName ?>[period_frequency][<?php echo $index ?>]" value="<?php echo $data->getPeriodFrequency() ?>" />
			<input type="hidden" class="plans-data-max_cycles" data-name="period_max_cycles" name="<?php echo $elementName ?>[period_max_cycles][<?php echo $index ?>]" value="<?php echo $data->getPeriodMaxCycles() ?>" />
			<input type="hidden" class="plans-data-cancel-period" data-name="cancel_period" name="<?php echo $elementName ?>[cancel_period][<?php echo $index ?>]" value="<?php echo $data->getCancelPeriod() ?>" />
			<input type="hidden" class="plans-data-order" data-name="order" name="<?php echo $elementName ?>[order][<?php echo $index ?>]" value="<?php echo $data->getOrder() ?>" />
		</td>
	</tr>
</tbody>