<?php
/**
 *
 */
?>
<?php
$_collection = $this->getCollection();
$firstItem = $_collection->getFirstItem();
$lastItem = $_collection->getLastItem();
?>
<?php if ($_collection->count()): ?>
    <div class="bxp-top-links clearfix">
        <ul class="cms-top-links-list clearfix">
            <?php foreach ($_collection as $_item): ?>
                <li class="<?php
                echo $_item->getId() == $firstItem->getId() ? 'alpha' : '';
                echo $_item->getId() == $lastItem->getId() ? 'omega' : ''
                ?>
                    item-<?php echo $_item->getId() ?> ">
                    <a href="<?php echo Mage::helper('cms/page')->getPageUrl($_item->getPageId()) ?>" title="<?php echo $_item->getTitle() ?>"><?php echo $_item->getTitle() ?></a>
                    <div class="cms-link-content-container hidden">
                        <div class="cms-link-content">
                            <?php echo $_item->getContent() ?>
                        </div>
                    </div>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
    <script type="text/javascript">
        (function($) {

            $('.cms-top-links-list li').on('mouseenter mouseleave', function(e) {
                $('.cms-link-content-container', this).toggleClass('hidden');
            });

        })(jQuery);
    </script>
<?php endif; ?>