.pin-wrapper .block {
    /*margin: 0;*/
}
.block.brand-breadcrumbs-block .block-title {
    border: none;
    margin: 0;
    padding: 0;
}
div.aw_brand_list {
    width: 900px;
    margin: 0 -15px;
}

@media screen and (max-width: 320px) {
    div.aw_brand_logo {
        min-height: 100px;
    }
}

div.aw_brand_logo img {
    width: 100%;
    height: auto;
}

div.aw_brand_container {
    float: left;
    min-height: 180px;
    text-align: center;
    background-color: white;
    /*border: 1px rgba(245, 237, 237, 0.37) outset;*/
    width: 252px;
    margin: 0 15px 30px;
    padding: 9px;
    border-radius: 2px;
    border: none;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.09);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.09);
    box-shadow: 0 0 5px rgba(0,0,0,.09);
}

div.aw_brand_logo {
    float: left;
    /*border: 1px rgb(233, 233, 233) solid;*/
    margin-bottom: 5px;
    min-height: 150px;
}

.aw_brand_container div.aw_brand_logo {
    float: none;
}

h1.aw_brand_title {
    font-size: 25px;
    padding-bottom: 10px;
    font-weight: bold;
}

a.aw_brands_url,
.shopbybrands-brand-page a {
    text-decoration: none;
}

.shopbybrands-brand-page img {
    display: inherit;
}

ul.brands-list {
    padding: 10px;
    list-style: none;
}

li.brands-item {
    padding: 5px;
}

span.brand-name {
    padding-left: 10px;
    vertical-align: top;
}

li.brands-item a {
    text-decoration: none;;
}

li.brands-item img {
    display: inline;
}

div.brand_details {
    margin-left: 25px;
}

div.brand_container {
    padding: 5px;
    border: 1px rgb(235, 235, 235) solid;
    margin-bottom: 5px;
    min-height: 150px;
    display: inline-block;
}

/* More from this brand section */
.aw-sbb-more-product-from-brand {
    background-color: #f1ecdb;
    border: thin solid #e5dcc3;
    display: inline-block;
    padding: 10px;
}

.aw-sbb-more-product-from-brand-label {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.aw-sbb-product-list-container {
    display: inline-block;
}

.aw-sbb-product-container {
    display: inline-block;
    margin: 5px;
    border: thin solid #e5dcc3;
}

.aw-sbb-product-container:hover {
    border: thin solid #bab199;
}

.nav-primary li a {
    padding: 0 25px;
}

.all-brands-page-desc {
    overflow: hidden;
}