<?php
/**
 * @var $this PLG_Banners_Block_Block
 */
$banner = $this->getCurrentBanner();
if(empty($banner)){
    $item = $this->getDefaultBanner();
}else{
    $item = $banner->getContent();
}

?>
<div class="block block-advert">
    <div class="block-content" >
        <?php echo $item; ?>
    </div>
</div>

