<?php $helper = Mage::helper('customweb_subscription') ?>
<?php if ($helper->isCartSubscriptionEnabled() && $helper->canUseCartAsSubscription()) : ?>
	<?php $plans = $helper->getCartSubscriptionPlans() ?>
	<?php $activePlan = $this->getSubscriptionPlan() ?>
	<form id="subscription-form" action="<?php echo $this->getUrl('subscription/index/applyPlan') ?>" method="post">
	    <div class="discount">
	        <h2 style="background-image: none; padding-left: 0;"><?php echo $this->__('Subscription') ?></h2>
	        <div class="subscription-form">
	        	<p><?php echo $helper->__('Would you like to purchase this cart as a subscription?') ?></p>

	        	<div class="form-list">
        			<?php if ($activePlan != null) : ?>
        				<label><?php echo $this->__('You selected this subscription plan:') ?></label>
        			<?php else : ?>
			            <label for="subscription_plan"><?php echo $this->__('Select a subscription plan:') ?></label>
			        <?php endif; ?>
        			<div class="clearer"></div>
        			<div class="subscription_plan">
        				<?php if ($activePlan != null) : ?>
        					<h5 class="order-info"><?php echo $activePlan->getDescription() ?></h5>
	        			<?php else : ?>
				            <div class="input-box">
				                <select id="subscription_plan" name="subscription_plan">
				                	<option value=""><?php echo $helper->__('None') ?></option>
				                	<?php foreach ($plans as $plan) : ?>
				                		<option value="<?php echo $plan->getIndex() ?>"><?php echo $this->htmlEscape($plan->getDescription()) ?></option>
				                	<?php endforeach; ?>
				                </select>
				            </div>
				    	<?php endif; ?>
						<?php foreach ($plans as $plan) : ?>
						<div class="plan-details" id="plan-details-<?php echo $plan->getIndex() ?>" <?php echo ($activePlan != null && $activePlan->getIndex() == $plan->getIndex() ? '' : 'style="display:none;"') ?>>
							<h5><?php echo $helper->__('Billing Period') ?></h5>
							<p><?php echo $plan->getSchedule()->render() ?></p>
							<h5><?php echo $helper->__('Maximum Billing Cycles') ?></h5>
							<p><?php echo $plan->getSchedule()->renderEnd() ?></p>
						</div>
						<?php endforeach; ?>
					</div>
	            </div>
	            <div class="buttons-set">
	            	<?php if ($activePlan == null) : ?>
	                	<button type="button" title="<?php echo $this->__('Apply Subscription') ?>" class="button" onclick="subscriptionForm.submit()" value="<?php echo $this->__('Subscribe now!') ?>"><span><span><?php echo $this->__('Apply Subscription') ?></span></span></button>
	                <?php else : ?>
	                	<input type="hidden" name="subscription_plan" value="" />
	                	<button type="button" title="<?php echo $this->__('Change Subscription') ?>" class="button" onclick="subscriptionForm.submit()" value="<?php echo $this->__('Change Subscription') ?>"><span><span><?php echo $this->__('Change Subscription') ?></span></span></button>
	                <?php endif; ?>
	            </div>
	        </div>
	    </div>
	</form>
	<script type="text/javascript">
	var subscriptionForm = new VarienForm('subscription-form');
	subscriptionForm.submit = function () {
	    return VarienForm.prototype.submit.bind(subscriptionForm)();
	}

	document.observe("dom:loaded", function() {
		$('subscription_plan').observe('change', function(event){
			var index = this.value;
			$$('.plan-details').each(function(element, index){
				element.hide();
			});
			if ($('plan-details-' + index)) {
				$('plan-details-' + index).show();
			}
		});

		$('btn-change-subscription').observe('click', function(event){

		});
	});
	</script>
<?php endif; ?>