<?php $helper = Mage::helper('customweb_subscription') ?>
<?php $subscription = $this->getSubscription() ?>
<table class="info-table" style="width: 100%;">
    <tr>
        <th class="label"><?php echo $helper->__('Last Billed') ?></th>
        <td class="value"><?php echo $subscription->getLastDateObject() ? $this->formatDate($subscription->getLastDateObject(), 'medium', false) : $helper->__('Never') ?></td>
    </tr>
    <tr>
        <th class="label"><?php echo $helper->__('Next Cycle') ?></th>
        <td class="value"><?php echo $subscription->getSchedule()->renderNextCycle() ?></td>
    </tr>
    <tr>
        <th class="label"><?php echo $helper->__('Payments Made') ?></th>
        <td class="value"><?php echo $subscription->getNumberOfPayments() ?></td>
    </tr>
</table>