<?php $helper = Mage::helper('customweb_subscription') ?>
<?php $subscription = $this->getSubscription() ?>
<table class="info-table" style="width: 100%;">
    <tr>
        <th class="label"><?php echo $helper->__('Start Date') ?></th>
        <td class="value"><?php echo Mage::helper('core')->formatDate($subscription->getStartDate(), 'medium', false) ?></td>
    </tr>
    <tr>
        <th class="label"><?php echo $helper->__('Billing Period') ?></th>
        <td class="value"><?php echo $subscription->getSchedule()->render() ?></td>
    </tr>
    <tr>
        <th class="label"><?php echo $helper->__('Maximum Billing Cycles') ?></th>
        <td class="value"><?php echo $subscription->getSchedule()->renderEnd() ?></td>
    </tr>
    <?php if ($subscription->hasCancelPeriod()) : ?>
    <tr>
        <th class="label"><?php echo $helper->__('Period of Notice') ?></th>
        <td class="value"><?php echo $helper->__('Repeats %s time(s) after cancelation request.', $subscription->getCancelPeriod()) ?></td>
    </tr>
    <?php endif; ?>
</table>