<?php if(isset($_GET['clickid'])):?>
    <?php $clickId = $_GET['clickid']; ?>
    <?php $cookie = Mage::helper('plgpixel')->dsCrypt($clickId)?>
    <?php $cookieName = Mage::helper('plgpixel')->getCookieName()?>
    <?php $cookieTtl = Mage::helper('plgpixel')->getCookieTtl()?>
    <?php $urlString = Mage::getUrl('', array(
        '_current' => true,
        '_use_rewrite' => true
    ));
    $url = Mage::getSingleton('core/url')->parseUrl($urlString);
    $path = $url->getPath();
    ?>
    <?php $pixel = Mage::getModel('plgpixel/item')->load($path, 'url')?>
    <?php if(!empty($clickId) && $pixel->getId() > 0 && !isset($_COOKIE['pixel'.$pixel->getId()])): ?>
        <?php Mage::getModel('core/cookie')->delete($cookieName);?>
        <?php $trackingURL = "http://t.jaduda.com/conversion/?eid=".$pixel->getEid()."&clickid=".$clickId."&oid=".uniqid("bxp", true); ?>
        <img src="<?php echo $trackingURL; ?>" style="height:1px; width:1px" />
    <?php endif; ?>
    <script>
        var cookie = '<?php echo $cookie;?>';
        var cookieName = '<?php echo $cookieName;?>';
        var cookieTtl = <?php echo $cookieTtl;?>;
        <?php if($pixel->getId() > 0 && !isset($_COOKIE['pixel'.$pixel->getId()])): ?>
            (function($, d, v, n, t){
                $(d).ready(function(){
                    var date = new Date();
                    date.setDate(date.getDate() + t);
                    Mage.Cookies.set(n, v, date, '/');
                });
            })(jQuery, document,cookie,cookieName,cookieTtl);
            Mage.Cookies.set('pixel<?php echo $pixel->getId();?>', true);
        <?php endif; ?>
    </script>
<?php endif; ?>
