<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Giftcard
 * @version    1.0.3
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php
$_product = $this->getProduct();
$_id = $_product->getId();
?>
<?php if($_product->isSaleable()): ?>
    <p class="availability in-stock">
        <?php echo $this->helper('catalog')->__('Availability:') ?>
        <span><?php echo $this->helper('catalog')->__('In stock') ?></span>
    </p>
<?php else: ?>
    <p class="availability out-of-stock">
        <?php echo $this->helper('catalog')->__('Availability:') ?>
        <span>
            <?php echo $this->helper('catalog')->__('Out of stock') ?>
        </span>
    </p>
<?php endif; ?>
<?php echo $this->getChildHtml('product_type_data_extra') ?>
<?php if ($_product->isSaleable() && $this->hasAmountOptions()): ?>
    <?php if (!$_product->getAwGcAllowOpenAmount() && (count($this->getAmountOptions()) == 1)): ?>
        <?php $_amount = $this->getAmountOptions(); $_amount = array_shift($_amount); ?>
        <div class="price-box">
                <span class="regular-price">
                    <span class="price" id="product-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                        <?php echo Mage::helper('core')->currency($_amount, true, false); ?>
                    </span>
                </span>
        </div>
        <script type="text/javascript">
            $j(document).ready(function(e){
                $j('span.price').html($j('span.regular-price').html());
            });
        </script>
    <?php endif; ?>
<?php endif; ?>