<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Giftcard
 * @version    1.0.3
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php
$_product = $this->getProduct();
$_id = $_product->getId();
?>
<?php if ($_product->getCanShowPrice() !== false):?>
    <div class="price-box">
        <?php if ($_product->getMinPrice() && $_product->getMaxPrice() && ($_product->getMinPrice() == $_product->getMaxPrice())): ?>
            <span class="price" id="product-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                <?php echo Mage::helper('core')->currency($_product->getMinPrice(), true, false) ?>
            </span>
        <?php elseif ($_product->getMinPrice() && $_product->getMinPrice() != 0): ?>
        <p class="price-from">
            <span class="price-label">
                <?php echo $this->__('From:');?>
            </span>
            <span class="price" id="min-product-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                <?php echo Mage::helper('core')->currency($_product->getMinPrice(), true,false) ?>
            </span>
        </p>

        <p class="price-to">
            <span class="price-label">
                <?php echo $this->__('To:');?>
            </span>
            <span class="price" id="max-product-price-<?php echo $_id ?><?php echo $this->getIdSuffix() ?>">
                <?php echo Mage::helper('core')->currency($_product->getMaxPrice(), true, false);?>
            </span>
        </p>
        <?php endif; ?>
    </div>
<?php endif; ?>