<?php $index = $this->getIndex() ?>
<?php $data = $this->getRowData() ?>
<?php $elementName = $this->getElement()->getName() ?>
<tbody id="attempts-row-<?php echo $index ?>">
	<tr>
		<td class="a-right"><?php echo $data->days ?></td>
		<td><?php echo $data->email_template_pending_label ?></td>
		<td><?php echo $data->email_template_update_label ?></td>
		<td class="nowrap a-right">
			<a onclick="subscriptionAttemptsForm.removeRow('attempts-row-<?php echo $index ?>');" class="table-form-btn-remove"></a>
			<a onclick="subscriptionAttemptsForm.editRow('attempts-row-<?php echo $index ?>');" class="table-form-btn-edit"></a>

			<input type="hidden" class="attempts-data-days" data-name="days" name="<?php echo $elementName ?>[days][<?php echo $index ?>]" value="<?php echo $data->days ?>" />
			<input type="hidden" class="attempts-data-email-template-pending" data-name="email_template_pending" name="<?php echo $elementName ?>[email_template_pending][<?php echo $index ?>]" value="<?php echo $data->email_template_pending ?>" />
			<input type="hidden" class="attempts-data-email-template-update" data-name="email_template_update" name="<?php echo $elementName ?>[email_template_update][<?php echo $index ?>]" value="<?php echo $data->email_template_update ?>" />
		</td>
	</tr>
</tbody>