<?php
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_Amp
 * @copyright   Copyright (c) 2017 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */
?>
<?php if (method_exists($this, 'canShowBlock') && $this->canShowBlock()): ?>
<div class="block block-layered-nav">
    <div class="block-title filter-title">
        <strong>
            <?php echo $this->__('Shop By') ?>
        </strong>
    </div>

    <?php echo $this->getStateHtml() ?>
    <?php if ($this->getLayer()->getState()->getFilters()): ?>
        <div class="actions"><a href="<?php echo $this->getClearUrl() ?>"><?php echo $this->__('Clear All') ?></a></div>
    <?php endif; ?>
    <div class="block-content filter-content">
        <?php if ($this->canShowOptions()): ?>
            <div>
            <input type="checkbox" id="filter-items">
            <label for="filter-items" class="block-subtitle filter-subtitle-label">
                <?php echo $this->__('Filter') ?>
            </label>
            
            <div class="filter-options" id="narrow-by-list">
                <?php $_filters = $this->getFilters() ?>
                <?php foreach ($_filters as $k => $_filter): ?>
                    <?php if ($_filter->getItemsCount()): ?>
                        <div class="opt-wrap">
                            <input type="checkbox" id="filter-item-<?php echo $k ?>">
                            <label for="filter-item-<?php echo $k ?>" class="filter-options-title">
                                <?php echo $this->__($_filter->getName()) ?>
                            </label>
                            <?php echo $_filter->getHtml() ?>
                        </div>
                    <?php endif; ?>
                <?php endforeach; ?>
            </div>
            </div>
        <?php endif; ?>
    </div>
</div>
<?php endif; ?>