.wettbewerb-form {
}
.wettbewerb-form fieldset div input[type=text]{
    width: 90%;
    display: block;
}
.wettbewerb-form fieldset div{
    float: left;
    width: 33%;
}
.wettbewerb-form fieldset div.recaptcha,
.wettbewerb-form fieldset div.one-row,
.wettbewerb-form fieldset div.validation-advice{
    width: auto;
    float: none;
}
.wettbewerb-form fieldset {
    padding: 20px 50px 0;
    clear: both;
}
.wettbewerb-form fieldset span a{
    display: inline;
}
.wettbewerb-form fieldset input[type=submit]{
    background: red;
    border: 2px solid white;
    padding: 3px 8px;
    color: white;
    font-weight: bold;
    -webkit-box-shadow: inset 0px 0px 5px 0px #B8B8B8;
    -moz-box-shadow: inset 0px 0px 5px 0px #B8B8B8;
    box-shadow: 0px 0px 5px 0px #B8B8B8;
}
.wettbewerb-head {
    display: block;
    width: auto;
    height: auto;
    border: 3px dashed red;
    padding: 10px 15px;
}
.wettbewerb-head-title a, .wettbewerb-head-text a{
    text-decoration: underline;
}
.wettbewerb-head-title, .wettbewerb-head-text {
    text-align: center;
    font-weight: bold;
    padding: 5px 0;
}
.wettbewerb-body {
    margin-bottom: 50px;
}
.wettbewerb-modal {
    display: none;
    border: 3px dashed red;
    width: auto;
    height: 85%;
    padding: 10px 15px 70px;
    position: absolute;
    top: 0;
    background: #fafafa;
    margin-top: 10px;
    z-index: 1;
}
.wettbewerb-modal-body ul{
    list-style-type: disc;
    padding-left: 20px;
}
.wettbewerb-modal-body p {
    margin-bottom: 20px;
}
.wettbewerb-modal-body h4 {
    font-weight: 600;
}
.wettbewerb-modal-close:hover,
.wettbewerb-modal-back:hover,
.wettbewerb-form fieldset input[type=submit]:hover
{
    -webkit-box-shadow: inset 0px 0px 5px 0px #868686;
    -moz-box-shadow: inset 0px 0px 5px 0px #868686;
    box-shadow: 0px 0px 5px 0px #868686;
}
.wettbewerb-modal-close,
.wettbewerb-modal-back,
.wettbewerb-form fieldset input[type=submit]
{
    -webkit-box-shadow: inset 0px 0px 5px 0px #B8B8B8;
    -moz-box-shadow: inset 0px 0px 5px 0px #B8B8B8;
    box-shadow: 0px 0px 5px 0px #B8B8B8;
}


.wettbewerb-modal-close {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 15px;
    height: 15px;
    border: 2px solid white;
    background: red;
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    line-height: 14px;
    cursor: pointer;
}
.wettbewerb-modal-back {
    border: 2px solid white;
    background: red;
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    line-height: 14px;
    cursor: pointer;
    padding: 3px 8px;
}
.wettbewerb-modal-footer{
    position: absolute;
    bottom: 15px;
}
.wettbewerb-modal-title, .wettbewerb-modal-body {
    font-weight: bold;
}
.wettbewerb-modal-body {
    overflow-y: scroll;
    height: 100%;
}
.wettbewerb-body-conditions {
    cursor: pointer;
    text-decoration: underline;
}

.mobile-contest-text {
    display: none;
    text-align: center;
    width: 100%;
}

div.gender-select label {
    padding: 0 15px;
    padding-left: 0;
}

@media screen and (max-width: 425px) {
    div.col-main {
        padding-top: 0!important;
    }

    /*ul.slides li {
        background: url("https://www.smoke24.ch/skin/frontend/shopper/smoke24/images/wettbewerb/animation_mobile.gif") 100% 0px no-repeat!important;
        background-size: cover!important;
    }*/

    /*.slider {
        height: 365px !important;
    }*/

    /*.mobile-contest-text {*/
        /*display: block;*/
        /*margin-top: 100px;*/
        /*font-size: 2vh;*/
        /*color: white;*/
        /*right: 0;*/
        /*position: absolute;*/
        /*width: 60%;*/
    /*}*/

    .mobile-contest-text {
        display: block;
        font-size: 18px;
        font-weight: bold;
        color: black;
        position: relative;
        width: 100%;
        margin-top: 30px;
    }

    .wettbewerb-form fieldset div {
        float: left;
        width: 100%;
    }

    .rc-anchor-normal {
        height: 74px;
        width: 230px;
    }
}

/*@media screen and (max-width: 960px) {*/
    /*.mobile-contest-text {*/
        /*display: block;*/
        /*margin-top: 25px;*/
        /*font-size: 2vh;*/
        /*color: black;*/
    /*}*/

    /*.slides {*/
        /*display: none;*/
    /*}*/
/*}*/