<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Giftcard
 * @version    1.0.3
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><div class="entry-edit">
    <?php echo $this->getFormHtml() ?>
</div>
<script type="text/javascript">
    //<![CDATA[
    Event.observe(window, 'load', updateCurrency);
    Event.observe($('_info_website_id'), 'change', updateCurrency);

    var currencies = <?php echo $this->getCurrencyJson(); ?>;
    function updateCurrency() {
        var val = $('_info_website_id').options[$('_info_website_id').selectedIndex].value;
        if (currencies[val]) {
            $('balance_currency').innerHTML = '<b>[' + currencies[val] + ']</b>';
        }
    }
    //]]>
</script>