<?php
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_Amp
 * @copyright   Copyright (c) 2016 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */
?>

<?php if ($this->getCollection()->getSize()): ?>
<div class="toolbar clearfix">
    <?php if ($this->isExpanded()): ?>
        <div class="sorter">
            <div class="sort-by">
                <span class="sortby-lable"><?php echo $this->__('Sort By') ?></span>
                <?php foreach ($this->getAvailableOrders() as $_key => $_order): ?>
                    <a class="sort-product <?php if ($this->isOrderCurrent($_key)): ?> sorter-active<?php endif; ?>" href="<?php echo $this->getOrderUrl($_key, 'asc'); ?>">
                    <?php echo $this->__($_order) ?> </a>
                <?php endforeach; ?>
                <?php if ($this->getCurrentDirection() == 'desc'): ?>
                    <a href="<?php echo $this->getOrderUrl(null, 'asc') ?>" class="sort-by-switcher sort-asc" title="<?php echo Mage::helper('pramp')->quoteEscape($this->__('Set Ascending Direction')) ?>"><?php echo $this->__('↑ (asc)') ?></a>
                <?php else: ?>
                    <a href="<?php echo $this->getOrderUrl(null, 'desc') ?>" class="sort-by-switcher sort-desc" title="<?php echo Mage::helper('pramp')->quoteEscape($this->__('Set Descending Direction')) ?>"><?php echo $this->__('↓ (desc)') ?></a>
                <?php endif; ?>
            </div>
        </div>
    <?php endif; ?>
</div>

<div class="pager">
    <p class="amount">
        <?php if ($this->getLastPageNum() > 1): ?>
            <?php echo $this->__('Items %s to %s of %s total', $this->getFirstNum(), $this->getLastNum(), $this->getTotalNum()) ?>
        <?php else: ?>
            <strong><?php echo $this->__('%s Item(s)', $this->getTotalNum()) ?></strong>
        <?php endif; ?>
    </p>

    <?php echo $this->getPagerHtml() ?>
</div>
<?php endif ?>
