<?php
/*
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */
?>
<div class="abo-calculator">
    <?php echo $this->renderConsumptionForm(); ?>
    <div class="product-selection">
        <label for="product-select"><?php echo $this->__('Smoked cigarettes'); ?></label>
        <input id="product-select" type="hidden" name="product" autocomplete="off" />
    </div>
</div>
<div class="table-results">
    <?php echo $this->getResultTable(); ?>
</div>


<!-- Select2 Inclusion -->

<script src="<?php echo $this->getSkinUrl('js/select2/select2.min.js') ?>" type="text/javascript"></script>
<script src="<?php echo $this->getSkinUrl('js/select2/select2_locale_'.Mage::app()->getStore()->getCode().'.js') ?>" type="text/javascript"></script>

<script type="text/javascript">
    //< ![CDATA[
    var aboCalcForm = new VarienForm('abo-calculator-form', true);
//]]>
    if (typeof Bxp === 'undefined') {
        Bxp = {};
    }
    Bxp.Abo = Bxp.Abo || {};
    Bxp.Abo.config = <?php echo $this->getCalculatorJson(); ?>;
    Bxp.Abo.months = 6;
    Bxp.Abo.ajaxUrl = "<?php echo Mage::getUrl('abo/ajax/find/') ?>";
    Bxp.Abo.cd = null;
    /**
     *
     * @param {type} cd
     * @returns {undefined}
     */
    (function($) {
        $(function() {

            //Init slelect2
            $('#product-select').select2({
                'placeholder': "<?php echo $this->__('Select Product') ?>",
                'minimumInputLength': 3,
                ajax: {
                    url: Bxp.Abo.ajaxUrl,
                    dataType: 'json',
                    data: function(term, page) {
                        Bxp.Abo.calculate();
                        return {
                            term: term,
                            config: Bxp.Abo.config,
                            limit: 10
                        };
                    },
                    results: function(data, page) {
                        return {results: data.products};
                    }
                },
                formatResult: function(object, container, query) {
                    return object.html;
                },
                formatSelection: function(object, container) {
                    return object.name;
                },
                escapeMarkup: function(m) {
                    return m;
                },
                dropdownCssClass: 'bigdrop'
            });
            $('#product-select').on('change', Bxp.Abo.updateProduct);
            $('#abo-calculator-form').on('submit', function(e) {
                e.preventDefault();
                Bxp.Abo.calculate();


            });
        });

        Bxp.Abo.calculate = function() {
            var cd = $('#cd').val();
            if (cd != Bxp.Abo.cd) {
                Bxp.Abo.cd = cd;
            }
            if (!cd || !$.isNumeric(cd) && cd <= 0) {
                return;
            }
            var results = {};
            var config = Bxp.Abo.config;
            Bxp.Abo.config.quantities = {};
            if (config.granularity === 'm') {
                var cartonPerPeriod = cd * 30 / 200;
            } else if (config.granularity === 'w') {
                var cartonPerPeriod = cd * 7 / 200;
            }
            var counter = 1;
            for (var i = config.step; i <= config.size; i += config.step) {
                var cartons = Math.ceil((cartonPerPeriod * i));//.toFixed(2)
                if (cartons === 0) {
                    cartons = 1;
                }
                results[counter] = {'cartons': cartons};
                Bxp.Abo.config.quantities[i] = cartons;
                counter++;
            }

            Bxp.Abo.updateResult(results);
            return results;

        };
        Bxp.Abo.updateResult = function(results) {
            var $table = $('#abo-calculator-results');
            var $perMonth = $('#smoke-per-m td');
            var loadedProduct = $('#product-select').select2('data');
            if (loadedProduct) {
                Bxp.Abo.updateProductData(loadedProduct);
            }
            $.each(results, function(i, v) {
                $perMonth.eq(i).html(v.cartons);
            });
        };
        Bxp.Abo.updateProduct = function(val) {

            var product = val.added;
            if (product.data == 100) {
                alert('You must enter your consumption per day');
                return;
            }
            // Loop and populate retrieved data
            var i = 1;
            var $cartonCost = $('#cost-per-carton td');
            var $totalCost = $('#total-cost td');
            var $save = $('#abo-save td');
            var $freeShipping = $('#abo-free-shipping td');
            var $cartUrl = $('#abo-add-cart td a');
            $.each(product.data, function(date, values) {
                $cartonCost.eq(i).html(values.cost_carton);
                $totalCost.eq(i).html(values.cost_total);
                $save.eq(i).html(values.total_discount);
                $freeShipping.eq(i).html(values.free_shipping);
                $cartUrl.eq(i-1).attr('href', values.cart_url)
                        .attr('data-url', values.cart_url)
                        .attr('data-id', product.id);
                i++;
            });

            $(document).trigger('calculatorLoad');

        };
        Bxp.Abo.updateProductData = function(product) {
            var ajax = {
                url: Bxp.Abo.ajaxUrl,
                dataType: 'json',
                data: {
                    id: product.id,
                    config: Bxp.Abo.config,
                    limit: 10
                },
                beforeSend: function() {
                    $('#ajax-loader-abo').removeClass('hidden');
                },
                complete: function() {
                    $('#ajax-loader-abo').addClass('hidden');
                },
                success: function(data) {
                    for (var key in data.products)
                        break;
                    var product = data.products[key];
                    Bxp.Abo.updateProduct({added: product});
                }
            };
            $.ajax(ajax);
        };
    })(jQuery);




</script>