<?php
/**
 * 
 */
?>
<?php
$product = $this->getProduct();
?>
<?php if ($product): ?>
    <div class="product-<?php echo $product->getId() ?>">
        <div class="product-image">
            <img src="<?php echo $this->helper('catalog/image')->init($product, 'small_image')->resize(75) ?>" alt="<?php echo $product->getName(); ?>" />
        </div>
        <h3 class="product-name"><?php echo $product->getName(); ?></h3>
    </div>
<?php endif; ?>