<?php
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_Amp
 * @copyright   Copyright (c) 2017 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */
?>

<?php
    $_helperAMP = $this->helper('pramp');
    $_product = $this->getProduct();
    $addToCartUrl = $_helperAMP->getAddToCartUrl($_product);
?>
<?php if (!Mage::helper('pramp')->isSecure()) : ?>
	<a class="button btn-cart" href="<?php echo $addToCartUrl ?>"><?php echo $this->__('Add to Cart') ?></a>
<?php else : ?>
	<form class="amp-addtocart-form" method="get" action="<?php echo $addToCartUrl ?>" target="_top">
		<div class="qty-input-container">
			<label for="qty"><?php echo $this->__('Qty:') ?></label>
			<input
				class="qty-input"
				type="number"
				name="qty"
				min="1"
				max="255"
				value="<?php echo $this->getProductDefaultQty() ? $this->getProductDefaultQty() * 1 : 1 ?>"
				title="<?php echo Mage::helper('core')->quoteEscape($this->__('Qty')) ?>"
				required
			>
		</div>
		<input type="submit" class="button btn-cart" value="<?php echo $this->__('Add to Cart') ?>">
  	</form>
<?php endif; ?>