<?php
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_Amp
 * @copyright   Copyright (c) 2017 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */

$this->reset();

$product = Mage::registry('current_product');
$this->setProduct($product);

if(!Mage::helper('estimateddelivery')->showPosition(Plumrocket_Estimateddelivery_Model_Values_Position::PRODUCT)) {
	return;
}

if (!$product->isSaleable()) {
	return;
}

$show = $this->hasDeliveryDate() || $this->hasShippingDate()
        || $haveDeliveryChildProduct;

if ($show) { ?>
<div class="estimated-hld">
<?php } ?>

<?php if ($this->hasShippingDate()) { ?>
<div class="estimated-box estimated-product estimated-shipping">
	<p class="price-margin">
        <?php if ($this->hasShippingDate()) : ?>
            <div id="option_default_shipp">
                <strong class="estimated-title"><?php echo $this->__('Estimated Shipping Date') ?></strong>
                <br>
		        <span  class="estimated-price">
			       <?php echo $this->getFinalShippingDate(); ?>
		        </span>
            </div>
        <?php endif; ?>
	</p>
</div>
<?php }

$this->setProduct($product);

if ($this->hasDeliveryDate() || $haveDeliveryChildProduct) { ?>
<div class="estimated-box estimated-product estimated-delivery">
	<p class="price-margin">
        <?php if ($this->hasDeliveryDate()) : ?>
            <div id="option_default">
                <strong class="estimated-title"><?php echo $this->__('Estimated Delivery Date') ?> </strong>
                <br>
                <span  class="estimated-price">
                    <?php echo $this->getFinalDeliveryDate() ?>
                </span>
            </div>
        <?php endif; ?>
	</p>
</div>
<?php } ?>

<?php if ($show) { ?>
</div>
<?php } ?>
