<?php
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_Amp
 * @copyright   Copyright (c) 2017 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */
?>
<?php
	/**
	 * @var $this Plumrocket_SizeChart_Model_Sizechart
	 */
	$sizechart = $this->getSizeChart();
	$content = $this->getContent();
?>

<?php if ($sizechart && $content) { ?>
	<amp-accordion class="pschart-sizechart-accordion">
	  	<section>
		    <h4>
		    	<a href="javascript: void(0);" class="pschart-sizechart-link">
					<?php echo $this->__($this->getLabel()) ?>
				</a>
			</h4>
		    <div id="pschart-showsizes-onpage" class="pschart-showsizes">
				<div class="pschart-content">
					<?php echo $content ?>
				</div>
			</div>
	  	</section>
	</amp-accordion>
<?php } ?>