<div class="entry-edit html2pdf-table-column custom-options">
    <div class="entry-edit-head">
        <h4><?php echo Mage::helper('html2pdf')->__('Columns') ?></h4>
        <div class="right"><?php echo $this->getAddButtonHtml() ?></div>
    </div>

    <div id="table_column_container" class="box">
        <div id="table_column_container_top"></div>
        <?php echo $this->getColumnBoxHtml() ?>
    </div>
</div>

<script type="text/javascript">
// re-bind form elements onchange
varienWindowOnload(true);
</script>
