<?php $helper = Mage::helper('customweb_subscription') ?>

<table id="attempts-template" style="display:none">
	<?php echo $this->getRowTemplate() ?>
</table>

<div class="grid">
	<table cellspacing="0" class="data" id="attempts-container">
		<colgroup>
			<col width="150" />
			<col width="250" />
			<col width="250" />
			<col width="50" />
		</colgroup>
		<thead>
			<tr class="headings">
				<th><?php echo $helper->__('Days Before Due Date') ?></th>
				<th><?php echo $helper->__('Pending Email Template') ?></th>
				<th><?php echo $helper->__('Update Email Template') ?></th>
				<th></th>
			</tr>
		</thead>
		<?php echo $this->getRows() ?>
		<tfoot>
			<tr id="attempts-form">
				<td>
					<div class="table-form-field-wrapper">
						<input class="input-text table-form-field table-form-required" data-name="days" id="attempts-form-days" type="text" <?php echo $this->getDisabled() ?> />
					</div>
					<p class="note"><span><?php echo $this->__('Enter the number of days this payment attempt should take place before the actual due date of the subscription.') ?></span></p>
				</td>
				<td>
					<select class="table-form-field table-form-required" data-name="email_template_pending" id="attempts-form-email-template-pending" <?php echo $this->getDisabled() ?>>
						<?php
						$options = Mage::getModel('adminhtml/system_config_source_email_template')->setPath('customweb_subscription_email_template_pending')->toOptionArray();
						foreach ($options as $option) {
							echo '<option value="'.$option['value'].'">'.$option['label'].'</option>';
						}
						?>
					</select>
					<p class="note"><span><?php echo $this->__('The Pending Email will be sent to notify a customer that his payment is due. The template contains a payment link that allows your customer to pay for the next cycle. You can edit the templates yourself under System > Transactional Emails.') ?></span></p>
				</td>
				<td>
					<select class="table-form-field table-form-required" data-name="email_template_update" id="attempts-form-email-template-update" <?php echo $this->getDisabled() ?>>
						<?php
						$options = Mage::getModel('adminhtml/system_config_source_email_template')->setPath('customweb_subscription_email_template_update')->toOptionArray();
						foreach ($options as $option) {
							echo '<option value="'.$option['value'].'">'.$option['label'].'</option>';
						}
						?>
					</select>
					<p class="note"><span><?php echo $this->__('The Update Email Template will be sent whenever the payment authorization fails due to various reasons. It tells the customer to update his payment information by clicking on the provided payment link.').'</span></p>'; ?></span></p>
				</td>
				<td><?php echo $this->getAddRowButtonHtml() ?></td>
			</tr>
		</tfoot>
		<tfoot id="attempts-empty">
			<tr>
				<td colspan="6"><?php echo $helper->__('Please define at least one payment attempt.') ?></td>
			</tr>
		</tfoot>
	</table>
</div>

<script>
document.observe("dom:loaded", function() {
	subscriptionAttemptsForm = new Customweb.Subscription.TableForm('attempts-', 'days', function(){
		var vars = {
			email_template_pending_label: $('attempts-form-email-template-pending').options[$('attempts-form-email-template-pending').selectedIndex].innerHTML,
			email_template_update_label: $('attempts-form-email-template-update').options[$('attempts-form-email-template-update').selectedIndex].innerHTML
		};
		return vars;
	}, function(){
		var valid = true,
			days = $('attempts-form-days').value;
		$('attempts-container').select('tbody .attempts-data-days').each(function(element, index){
			if (element.value == days) {
				valid = false;
			}
		});
		return valid;
	});
});
</script>