<?php $helper = Mage::helper('customweb_subscription') ?>

<table id="plans-template" style="display:none">
	<?php echo $this->getRowTemplate() ?>
</table>

<div class="grid">
	<table cellspacing="0" class="data" id="plans-container">
		<colgroup>
			<col width="250" />
			<col width="100" />
			<col width="100" />
			<col width="100" />
			<col width="100" />
			<col width="50" />
		</colgroup>
		<thead>
			<tr class="headings">
				<th><?php echo $helper->__('Description') ?></th>
				<th><?php echo $helper->__('Billing Period Unit') ?></th>
				<th><?php echo $helper->__('Billing Frequency') ?></th>
				<th><?php echo $helper->__('Maximum Billing Cycles') ?></th>
				<th><?php echo $helper->__('Order') ?></th>
				<th></th>
			</tr>
		</thead>
		<?php echo $this->getRows() ?>
		<tfoot>
			<tr id="plans-form">
				<td>
					<div class="table-form-field-wrapper">
						<input class="input-text table-form-field table-form-required" data-name="description" id="plans-form-description" type="text" <?php echo $this->getDisabled() ?> />
					</div>
					<p class="note"><span><?php echo $this->__('Describe the subscription plan. This value is used on the cart page in the subscription plan dropdown and to describe the subscription.') ?></span></p>
				</td>
				<td>
					<select class="table-form-field table-form-required" data-name="period_unit" id="plans-form-period-unit" <?php echo $this->getDisabled() ?>>
						<?php
						$options = $this->getPeriodUnitOptions();
						foreach ($options as $value => $label) {
							echo '<option value="'.$value.'">'.$label.'</option>';
						}
						?>
					</select>
					<p class="note"><span><?php echo $this->__('Unit for billing during the subscription period.') ?></span></p>
				</td>
				<td>
					<div class="table-form-field-wrapper">
						<input class="input-text table-form-field table-form-required" data-name="period_frequency" id="plans-form-period-frequency" type="text" <?php echo $this->getDisabled() ?> />
					</div>
					<p class="note"><span><?php echo $this->__('Number of billing periods that make up one billing cycle.') ?></span></p>
				</td>
				<td>
					<div class="table-form-field-wrapper">
						<input class="input-text table-form-field" data-name="period_max_cycles" id="plans-form-period-max-cycles" type="text" <?php echo $this->getDisabled() ?> />
					</div>
					<p class="note"><span><?php echo $this->__('The subscriptions ends automatically after the above entered number of billing cycles.') ?></span></p>
				</td>
				<td>
					<div class="table-form-field-wrapper">
						<input class="input-text table-form-field" data-name="order" id="plans-form-order" type="text" <?php echo $this->getDisabled() ?> />
					</div>
					<p class="note"><span><?php echo $this->__('Define the order of the plans in the dropdown.') ?></span></p>
				</td>
				<td><?php echo $this->getAddRowButtonHtml() ?></td>
			</tr>
		</tfoot>
		<tfoot id="plans-empty">
			<tr>
				<td colspan="6"><?php echo $helper->__('There are no subscription plans.') ?></td>
			</tr>
		</tfoot>
	</table>
</div>

<script>
document.observe("dom:loaded", function() {
	subscriptionPlansForm = new Customweb.Subscription.TableForm('plans-', 'order', function(){
		var vars = {
			period_unit_label: $('plans-form-period-unit').options[$('plans-form-period-unit').selectedIndex].innerHTML
		};
		return vars;
	});
});
</script>