<div class="twintcw" >
	<iframe src="<?php echo $this->escapeHtml($this->getIframeUrl()) ?>" class="twintcw-iframe" style="height: <?php echo $this->escapeHtml($this->getIframeHeight()) ?>px; width: 100%; border: none;">
	</iframe>
</div>