<link rel='stylesheet' type='text/css' href='<?php echo $styleUrl; ?>'>
<div class="twint-widget">
	<div class="twint-widget-header">
		<div class="twint-widget-header-element">
			<a href="https://www.twint.ch"><img alt="twint-logo"
				src="<?php echo $twintLogo; ?>" /></a>
		</div>
		<div class="twint-widget-header-element">
			<div class="twint-widget-amount">CHF <?php echo $price; ?></div>
		</div>
		<div class="twint-widget-header-element">
			<a href="https://www.postfinance.ch"><img alt="twint-logo"
				src="<?php echo $pfLogo; ?>" //></a>
		</div>
	</div>
	<div class="twint-widget-header-mobile">
		<div class="twint-widget-header-element">
			<a href="https://www.twint.ch"><img alt="twint-logo"
				src="<?php echo $twintLogo; ?>" /></a>
		</div>
		<div class="twint-widget-header-element">
			<a href="https://www.postfinance.ch"><img alt="twint-logo"
				src="<?php echo $pfLogo; ?>" //></a>
		</div>
		<div class="twint-widget-header-element-amount">
			<span class="twint-widget-amount">CHF <?php echo $price; ?></span>
		</div>
	</div>
	<div class="twint-widget-footer">
		<div
			class="twint-widget-footer-element twint-widget-footer-element-title"><?php echo $confirmText; ?></div>
		<div class="twint-widget-footer-element">
			<div class="twint-icon-app twint-icon">
				<img src="<?php echo $appImage; ?>" alt="app" />
			</div>
			<div class="twint-widget-footer-element-description"><?php echo $step; ?></div>
		</div>
	</div>
	<div class="twint-cancel">
		<form id="twint-cancel-form"
			action="<?php echo $cancelUrl; ?>" onsubmit="twintCancel()"
			method="POST">
			<input type="hidden" value="<?php echo $formHash; ?>" name="formHash" />
			<input type="submit" value="<?php echo $cancelText; ?>"
				class="btn-danger btn" />
		</form>
		<img src="<?php echo $loadingImage; ?>" alt="laoding..."
			id="twint-image-loading" />
	</div>
	<noscript>
		<div class="twint-continue">
			<form action="<?php echo $continueUrl; ?>" method="POST">
				<input type="hidden" value="<?php echo $formHash; ?>" /> <input
					type="submit" value="<?php echo $continueText; ?>" class="btn btn-success" />
			</form>
		</div>
	</noscript>
</div>
<?php echo $script; ?>
