<link rel='stylesheet' type='text/css' href='<?php echo $styleUrl; ?>' />
<div class="twint-widget">
	<div class="twint-widget-header">
		<div class="twint-widget-header-element">
			<a href="https://www.twint.ch"><img alt="twint-logo"
				src="<?php echo $twintLogo; ?>" /></a>
		</div>
		<div class="twint-widget-header-element">
			<div class="twint-widget-amount">CHF <?php echo $price; ?></div>
		</div>
		<div class="twint-widget-header-element">
			<a href="https://www.postfinance.ch"><img alt="twint-logo"
				src="<?php echo $pfLogo; ?>" //></a>
		</div>
	</div>
	<div class="twint-widget-header-mobile">
		<div class="twint-widget-header-element">
			<a href="https://www.twint.ch"><img alt="twint-logo"
				src="<?php echo $twintLogo; ?>" /></a>
		</div>
		<div class="twint-widget-header-element">
			<a href="https://www.postfinance.ch"><img alt="twint-logo"
				src="<?php echo $pfLogo; ?>" //></a>
		</div>
		<div class="twint-widget-header-element-amount">
			<div class="twint-widget-amount">CHF <?php echo $price; ?></div>
		</div>
	</div>
	<div class="twint-widget-body">
		<div id="twint-widget-token"
			class="twint-widget-body-element-outer twint-left">
			<div class="twint-widget-body-element-title"><?php echo $tokenText; ?></div>
			<div class="twint-widget-body-element-content">
				<div class="twint-widget-body-token">
					<div class="twint-widget-body-token-number"><?php echo $token1; ?></div>
				</div>
				<div class="twint-widget-body-token">
					<div class="twint-widget-body-token-number"><?php echo $token2; ?></div>
				</div>
				<div class="twint-widget-body-token">
					<div class="twint-widget-body-token-number"><?php echo $token3; ?></div>
				</div>
				<div class="twint-widget-body-token">
					<div class="twint-widget-body-token-number"><?php echo $token4; ?></div>
				</div>
				<div class="twint-widget-body-token">
					<div class="twint-widget-body-token-number"><?php echo $token5; ?></div>
				</div>
			</div>
		</div>
		<div id="twint-widget-ortext"
			class="twint-widget-body-element-center">
			<div class="twint-widget-body-element-title"><?php echo $orText; ?></div>
		</div>
		<div id="twint-widget-qr"
			class="twint-widget-body-element-outer twint-right">
			<div class="twint-widget-body-element-title"><?php echo $qrCodeText; ?></div>
			<div class="twint-widget-body-element-content">
				<img class="twint-qr-code" src="<?php echo $qrCode; ?>"
					width="180px" height="180px" />
			</div>
		</div>
	</div>
	<div class="twint-widget-footer">
		<div
			class="twint-widget-footer-element twint-widget-footer-element-title"><?php echo $confirmText; ?></div>
		<div class="twint-widget-footer-element">
			<div class="twint-icon-app twint-icon">
				<img src="<?php echo $appImage; ?>" alt="app" />
			</div>
			<div class="twint-widget-footer-element-description"><?php echo $step1; ?></div>
		</div>
		<div class="twint-widget-footer-element">
			<div class="twint-icon-cam twint-icon">
				<img src="<?php echo $camImage; ?>" alt="cam" />
			</div>
			<div class="twint-widget-footer-element-description"><?php echo $step2; ?></div>
		</div>
		<div class="twint-widget-footer-element">
			<div class="twint-icon-pay twint-icon">
				<img src="<?php echo $payImage; ?>" alt="pay" />
			</div>
			<div class="twint-widget-footer-element-description"><?php echo $step3; ?></div>
		</div>
	</div>
	<div class="twint-cancel">
		<form id="twint-cancel-form"
			action="<?php echo $cancelUrl; ?>" onsubmit="twintCancel()"
			method="POST">
			<input type="hidden" value="<?php echo $formHash; ?>" name="formHash" />
			<input type="submit" value="<?php echo $cancelText; ?>"
				class="btn-danger btn" />
		</form>
		<img src="<?php echo $loadingImage; ?>" alt="laoding..."
			id="twint-image-loading" />
	</div>
	<noscript>
		<div class="twint-continue">
			<form action="<?php echo $continueUrl; ?>" method="POST">
				<input type="hidden" value="<?php echo $formHash; ?>" /> <input
					type="submit" value="<?php echo $continueText; ?>"
					class="btn btn-success" />
			</form>
		</div>
	</noscript>
</div>
<?php echo $script; ?>
