@CHARSET "UTF-8";

.form-list .control label {
float: none;
}

.checkoutcontainer .payment-methods .expiration-date .multi-control .input-box { 
	width: auto !important;
	display: inline-block;
}

.form-list .multi-control .input-box{
	display: inline-block;
	width: auto !important;
}

.form-list .card-number .multi-control .input-box{
	display: block;
}

.control-group .option input[type=checkbox],
.control-group .option input[type=radio] {
	margin-right: 5px;
}

.multi-control {
	overflow: auto;
}

.required {
	color: #ff5000;
	padding-left: 2px;
}

.form-list .card-cvc .input-box input.input-text {
	width: 48px;
}

.form-list .multi-control div select{
	width: 75px;
}

.checkoutcontainer .payment-methods .card-cvc .input-box .input-text{
	width: 48px !important;
}

.checkoutcontainer .payment-methods .input-box .input-box select{
	width: 75px !important;
}

.twintcw-iframe{
	height: 550px;
	width: 100%;
	border: none;
}

.payment-methods .form-list select{
	width: 100%;
	max-width: 260px;
}


.card-brand-image-box
{
	display: inline-block;
}


.card-brand-image-color.brand-is-deselected
{
	display:none;
}

.card-brand-image-grey.brand-is-selected
{
	display:none;
}

.card-brand-image-selection {
	margin: 5px 0;
}

.card-brand-image-selection img {
	width:auto;
	height: 20px;
	margin-right: 3px;
}

.invalid-card-number,
.invalid-cvc-number {
	border-color: #fb7f88 !important;
	background-image: url(images/invalid.png) !important;
	background-position: 242px center;
	background-repeat: no-repeat !important;
}

.valid-card-number,
.valid-cvc-number {
	background-image: url(images/valid.png) !important;
	background-position: 242px center;
	background-repeat: no-repeat !important;
}

.invalid-cvc-number,
.valid-cvc-number {
	background-position: 36px center;
}

.expiration-date select {
	margin-right: 5px;
}

.invalid-card-number,
.valid-card-number {
	background-position: 206px center;
}

.control-group {
	margin-bottom: 30px;
}

label.control-label {
	float: left;
}

.control-group > .controls {
	margin-left: 200px;
}
.control-group.date-of-birth .select-field {
	display: inline-block;
}
.control-group.date-of-birth .select-field select {
	width: 90px;
	margin-right: 5px;
}

.description {
	margin-left: 200px;
}

.multi-control .controls { 
	float: left;
}

.card-cvc input {
	width: 30px;
}

.button { 
	border-width:1px; 
	border-style:solid; 
	border-color:#ed6502 #a04300 #a04300 #ed6502; 
	padding:1px 7px 2px 7px; 
	background:#ffac47; 
	color:#fff; font:bold 12px arial, helvetica, sans-serif; 
	cursor:pointer; 
	text-align:center !important; 
	white-space:nowrap; 
}