<div class="datatranscw" >
	<iframe src="<?php echo $this->escapeHtml($this->getIframeUrl()) ?>" class="datatranscw-iframe" style="height: <?php echo $this->escapeHtml($this->getIframeHeight()) ?>px; width: 100%; border: none;">
	</iframe>
</div>