<?php
/**
 * @var $this PLG_Brandfooter_Block_Block
 */
$news = $this->getBrandFooterCollection();
$newsViewUrl = Mage::getUrl('news/index/view');
?>
    <h1>News</h1>
<?php foreach ($news as $item): ?>
    <h2>
        <a href="<?php echo $newsViewUrl; ?>?id=<?php echo $item->getId(); ?>">
            <?php echo $item->getTitle(); ?>
        </a>
    </h2>
<?php endforeach; ?>