.twint-widget {
	margin-left: auto;
	margin-right: auto;
	font-family: arial;
	overflow: auto;
	text-align: center;
}

.twint-widget-header {
	overflow: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

.twint-widget-header-element {
	float: left;
	width: 33%;
}

.twint-widget-amount {
	font-size: 36pt;
	line-height: normal;
}

.twint-widget-footer-element {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: left;
	margin-top: 5px;
}

.twint-widget-footer-element-title {
	font-size: 20pt;
	color: #42e193;
	text-align: left;
}

.twint-widget-footer-element-description {
	vertical-align: middle;
	padding-left: 20px;
	height: 32px;
	display: table-cell;
}

.twint-icon {
	width: 32px;
	height: 32px;
	display: inline-block;
	float: left;
	position: relative;
	margin-right: 20px;
}

.twint-icon-app {
	
}

#twint-image-loading {
	position: relative;
	visibility: hidden;
	margin: 2px;
}

.twint-cancel {
	margin-top: 5px;
	display: inline;
	float: left;
}

.twint-continue {
	display: inline;
	float: right;
}

.twint-widget-header-mobile {
	display: none;
}

@media screen and (max-width: 767px) {
	#twint-widget-token {
		width: 100%;
	}
	#twint-widget-qr {
		display: none;
	}
	#twint-widget-ortext {
		display: none;
	}
	.twint-widget-header-mobile {
		display: initial;
	}
	.twint-widget-header {
		display: none;
	}
	.twint-widget-header-element-amount {
		clear: both;
	}
	.twint-widget-header-element {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}
}