.twint-widget {
	margin-left: auto;
	margin-right: auto;
	font-family: arial;
	overflow: auto;
	text-align: center;
	display: block;
}

.twint-widget-header {
	overflow: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

.twint-widget-header-element {
	float: left;
	width: 33%;
}

.twint-widget-amount {
	font-size: 36pt;
	margin-left: auto;
	margin-right: auto;
	line-height: normal;
}

.twint-widget-body {
	overflow: auto;
	display: block;
	background: rgb(245, 245, 245);
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	padding-bottom: 30px;
}

.twint-widget-body-element-outer {
	position: relative;
	width: 45%;
}

.twint-left {
	float: left;
}

.twint-right {
	float: left;
}

.twint-widget-body-element-center {
	position: relative;
	float: left;
	width: 10%;
}

.twint-widget-body-element-title {
	margin-left: auto;
	margin-right: auto;
}

.twint-widget-body-element-content {
	margin-left: auto;
	margin-right: auto;
	background: white;
	width: 200px;
	height: 200px;
	position: relative;
}

.twint-widget-body-token {
	display: inline-block;
	height: 200px;
	line-height: 200px;
	white-space: nowrap;
}

.twint-widget-body-token-number {
	background: #cdcccc;
	font-size: 20pt;
	display: inline;
	padding: 5px;
	margin: 5px;
}

.twint-qr-code {
	image-rendering: -moz-crisp-edges; /* Firefox        */
	image-rendering: -o-crisp-edges; /* Opera          */
	image-rendering: -webkit-optimize-contrast; /* Safari         */
	image-rendering: pixelated; /* CSS4 Proposed  */
	-ms-interpolation-mode: nearest-neighbor; /* IE8+           */
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -90px;
	margin-top: -90px;
}

.twint-widget-footer-element {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: left;
	margin-top: 5px;
}

.twint-widget-footer-element-title {
	font-size: 20pt;
	color: #42e193;
	text-align: left;
}

.twint-widget-footer-element-description {
	text-indent: -1.1em;
	margin-left: 1em;
	vertical-align: middle;
	padding-left: 20px;
	height: 32px;
	display: table-cell;
}

.twint-icon {
	width: 32px;
	height: 32px;
	display: inline-block;
	float: left;
	position: relative;
	margin-right: 20px;
}

.twint-icon-app {
	
}

.twint-icon-pay {
	
}

.twint-icon-cam {
	
}

#twint-image-loading {
	position: relative;
	visibility: hidden;
	margin: 2px;
}

.twint-cancel {
	display: inline;
	float: left;
}

.twint-continue {
	display: inline;
	float: right;
}

.twint-widget-header-mobile {
	display: none;
}

@media screen and (max-width: 767px) {
	#twint-widget-token {
		width: 100%;
	}
	#twint-widget-qr {
		display: none;
	}
	#twint-widget-ortext {
		display: none;
	}
	.twint-widget-header-mobile {
		display: initial;
	}
	.twint-widget-header {
		display: none;
	}
	.twint-widget-header-element-amount {
		clear: both;
	}
	.twint-widget-header-element {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	}
}