<?php
/**
 * Top menu for store
 *
 * @see Queldorei_Navigation_Block_Navigation
 */
?>
<?php
/**
 * $this->renderCategoriesMenuHtml() supports optional arguments:
 * int Level number for list item class to start from
 * string Extra class of outermost list items
 * string If specified wraps children list in div with this class
 */
/**
 * @var $this Bxp_Navigation_Block_Navigation
 */
?>
<!-- navigation BOF -->
<?php $_menu = $this->renderCategoriesMenuHtml(0, 'level-top', 'sub-wrapper' ); ?>
<?php $currentUrl = Mage::helper('core/url')->getCurrentUrl();
$url = Mage::getSingleton('core/url')->parseUrl($currentUrl);
$path = $url->getPath();?>
<?php if($_menu): ?>
<div class="nav-container">
    <div class="nav-top-title"><div class="icon"><span></span><span></span><span></span></div><a href="#"><?php echo $this->__('Navigation'); ?></a></div>
    <ul id="queldoreiNav">
	    <?php if (Mage::getStoreConfig('shoppersettings/navigation/home')): ?>
            <li class="level0 level-top">
         	    <a href="<?php echo $this->getBaseUrl(); ?>"><span><?php echo $this->__('Home'); ?></span></a>
            </li>
        <?php endif; ?>
        <?php
        echo $_menu;
        echo '
            <li class="level0 level-top parent custom-block'.($path == '/brands' ? ' active' : '').'">
                <a href="'.(DS.Mage::helper('awshopbybrand/config')->getAllBrandsUrlKey()).'" class="level-top">
                    <span>Marken</span>
                </a>
            </li>';
        echo '
            <li class="level0 level-top parent custom-block'.($path == '/abo-system' ? ' active' : '').'">
                <a href="/abo-system" class="level-top">
                    <span>ABO</span>
                </a>
            </li>';
        echo $this->getChildHtml('bxp_top_nav');
        $custom_tab = Mage::getModel('cms/block')
	        ->setStoreId( Mage::app()->getStore()->getId() )
	        ->load('shopper_navigation_block');
        if($custom_tab->getIsActive()) {
            echo '
            <li class="level0 level-top parent custom-block">
                <a href="#" class="level-top">
                    <span>'.$custom_tab->getTitle().'</span>
                </a>
                <div class="sub-wrapper" style="width:'.Mage::getStoreConfig('shoppersettings/navigation/custom_block_width').'px">'.$this->getLayout()->createBlock('cms/block')->setBlockId('shopper_navigation_block')->toHtml().'</div>
            </li>';
        }
        ?>
    </ul>
</div>
<?php endif ?>
<!-- navigation EOF -->