<?php
/**
 * Category view template
 *
 * @see Queldorei_Priceslider_Block_Mainslider
 * @var $this Queldorei_Priceslider_Block_Mainslider
 */
?>
<?php
$_helper    = $this->helper('catalog/output');
$_category  = $this->getCurrentCategory();
$_imgHtml   = '';
$_BannerHtml   = '';
if ($_imgUrl = $_category->getImageUrl()) {
    $_imgHtml = '<p class="category-image"><img src="'.$_imgUrl.'" alt="'.$this->htmlEscape($_category->getName()).'" title="'.$this->htmlEscape($_category->getName()).'" /></p>';
    $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
}
if ($_imgBanner = $_category->getCategoryBanners()) {
    $_BannerHtml = '<p class="category-image"><img src="'.Mage::getBaseUrl().'media/catalog/category/'.$_imgBanner.'" title="'.$this->htmlEscape($_category->getName()).'" /></p>';
    $_BannerHtml = $_helper->categoryAttribute($_category, $_BannerHtml, 'image');
}
?>
<div class="page-title category-title">
    <h1><?php echo $_helper->categoryAttribute($_category, $_category->getName(), 'name') ?></h1>
</div>

<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
<?php $block = $this->getLayout()->getBlock('plg_categories_link'); ?>
<?php if($block): ?>
    <?php $block->setImgHtml($_imgHtml); ?>
    <?php echo $block->toHtml(); ?>
<?php else: ?>
    <?php if($_imgUrl): ?>
    <?php echo $_imgHtml ?>
    <?php endif; ?>
<?php endif; ?>

<?php if ($desc = $_category->getDescription()): ?>
    <div class="category-description">
        <div class="fade_background"></div>
        <?php echo nl2br($desc); ?>
        <span id="read_more2" class="read_more">Weiterlesen...</span>
    </div>
<?php endif; ?>

<?php if($this->isContentMode()): ?>
<?php echo $this->getCmsBlockHtml() ?>

<?php elseif($this->isMixedMode()): ?>
<p class="category-image">
    <?php echo $this->getCmsBlockHtml() ?>
</p>
<?php echo $this->getProductListHtml() ?>

<?php else: ?>
<?php echo $this->getProductListHtml() ?>
<?php endif; ?>

<?php if($_imgBanner): ?>
    <?php echo $_BannerHtml ?>
<?php endif; ?>
