@font-face{font-family:'FontAwesome';src:url('../fonts/fontawesome-webfont.eot?v=4.0.3');src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');font-weight:normal;font-style:normal;}
body{border-top:0;}
.clear-l{clear:left;}
.first-inrow{clear:left;}
.alpha{margin-left:0;}
.omega{margin-right:0;}
.col-right{padding:0;}
.pre-header-container{background:#202020;}
.bxp-top-links{padding:10px 0;}
.bxp-top-links ul li{float:left;position:relative;text-align:center;}
.bxp-top-links ul li a{display:block;padding:5px 10px;color:#fff;font-family:"Myriad Pro", Arial, sans-serif;font-size:16px;font-weight:500;white-space:nowrap;}
.bxp-top-links ul li a:hover{text-decoration:none;}
.bxp-top-links ul li.first a{padding-left:0;}
.bxp-top-links ul li .cms-link-content-container:before{content:url(../images/d_arrow.gif);width:12px;height:9px;margin:auto;position:relative;top:-19px;}
.bxp-top-links ul li .cms-link-content-container{position:absolute;top:42px;left:0;width:100%;background:#fff;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;z-index:50000;border-top:6px solid #ed1d24;opacity:1;transition:opacity .25s linear;-moz-transition:opacity .25s linear;-webkit-transition:opacity .25s linear;}
.bxp-top-links ul li .cms-link-content-container.hidden{opacity:0;display:block !important;visibility:hidden !important;}
.bxp-top-links ul li .cms-link-content{padding:20px;text-align:left;}
.bxp-top-links ul li a:before{display:inline-block;font-family:FontAwesome;font-weight:normal;font-style:normal;-webkit-font-smoothing:antialiased;font-size:22px;padding-right:15px;line-height:16px;width:25px;text-align:center;}
.bxp-top-links ul li.item-14 a:before{content:"\f0d1";}
.bxp-top-links ul li.item-15 a:before{content:"\f0e9";}
.bxp-top-links ul li.item-16 a:before{content:"\f091";}
.bxp-top-links ul li:hover a:before{content:"\f058";color:#ed1d24;}
header h1.logo{vertical-align:top;}
header a.logo{margin:15px 0;}
/*div.col-left.sidebar div.block.block-layered-nav {display:none;}*/
body.category-neuigkeiten div.col-left.sidebar div.block.block-layered-nav {display:block;}
/*body.category-neuigkeiten div.col-left.sidebar div.block.block-layered-nav div.block-content dl#narrow-by-list dt:nth-child(3),*/
/*body.category-neuigkeiten div.col-left.sidebar div.block.block-layered-nav div.block-content dl#narrow-by-list dd:nth-child(4),*/
/*body.category-neuigkeiten div.col-left.sidebar div.block.block-layered-nav div.block-content dl#narrow-by-list dt:nth-child(5),*/
/*body.category-neuigkeiten div.col-left.sidebar div.block.block-layered-nav div.block-content dl#narrow-by-list dd:nth-child(6)*/
/*{display: none;}*/
.nav-search-wrapper{display:inline-block;float:none;margin:20px auto 0;}
div.fade_background {background-image: linear-gradient(to top, rgb(250, 250, 250), rgba(239,239,239,0));position: absolute;width: 100%;left: 0;bottom: 0;height: 40px;}
span.read_more {display: block;font-size: 13px;color: #333333;position: absolute;bottom: 5px;cursor: pointer;width: 100%;padding: 2px 0;font-weight: bold;background-color: #fafafa;}
span.read_more:hover {color: red;}
.nav-search-wrapper .search-top-container{float:none;margin-left:46px;}
.nav-search-wrapper .search-top-container #search{width:517px;height:30px;line-height:30px;padding-right:43px}
.search-field #search_mini_form .form-search{position:relative;font-size:14px;}
.search-field #search_mini_form .form-search button{margin:0;right:0;top:2px;background:url("../images/search.gif") no-repeat scroll center 8px rgba(0, 0, 0, 0);border:0 none;display:block;height:30px;position:absolute;width:43px;}
.search-field #search_mini_form .form-search button:hover{background-position:center -36px;}
.nav-search-wrapper .nav-container{float:none;}
#queldoreiNav{margin-bottom:10px;margin-top:25px;}
#queldoreiNav > li > a{font-size:16px;}
.top-dropdowns{display:inline-block;margin:20px 0 0 0;top:0;}
.header-dropdown{z-index:1;right:0;}
.header-switch{float:none;clear:both;margin-top:0;text-align:right;}
.user-section-container{}
.user-section-container .links{float:none;display:inline-block}
.cart-top-container{margin:10px 0;}
.cart-top{background:#ed1d24;padding:2px 8px;color:#fff;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.cart-top i{font-size:18px;}
.cart-top > a{background:none !important;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;width:auto;height:auto;color:#fff;font-weight:normal;font-size:14px;}
.cart-top > a span{padding:0;margin:0;color:#fff;font-weight:normal;line-height:normal;}
.cart-top > a span.qty{padding-right:10px;}
.cms-index-index .main.row{padding-top:50px;}
.cms-index-index .col-main{padding:0 15px;}
.cms-index-index .col-main .std{display:none;}
.home-main{width:auto;float:none;margin-top:0;}
.home-main .product-tabs{margin-top:0;}
.product-tabs-content{margin-top:47px;}
.flexslider .slides .content{background:rgba(255,255,255,0.5);padding:20px;}
.slider.row{padding:0;background-color:transparent;position:relative;}
.slider.row .flexslider .row{margin:0 auto;display:block;}
.flex-control-paging li a{padding:5px;}
.flex-control-nav{position:absolute;bottom:10px}
.flex-control-paging li a{background:#fff;}
.block-advert{}
.block-advert .block-content{position:relative;padding:0 !important;text-align:center;margin:0 auto !important;}
.block-advert .block-content a{display:block;width:100%;margin-bottom:20px;}
.block-advert .block-content a img{width:100%;height:auto;}
.footer-advert{position:relative;padding:40px 0;background:#cbcbcb;text-align:center;}
.footer-advert .block-advert{width:829px;margin:auto;border:none;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;box-shadow:none;position:static;float:none;}
.footer-advert .block-advert .block-title{display:none;}
.footer-advert .block-advert .block-content a{margin:0;}
.block-facebook{min-height:420px;margin-bottom:20px;}
.cms-index-index .block-facebook .block-content{padding:0 15px;}
.product-tabs-content .products-grid li.item{width:237px;}
.product-share{float:left;clear:left;}
.footer-info{background:#535353;color:#fff;}
.footer-info h4{margin-bottom:18px;}
.footer-info ul li{line-height:130%;margin:0;padding:0 0 15px 24px;position:relative;}
.footer-info ul li:before{content:"·";font-family:"Times New Roman",sans-serif;font-size:70px;font-style:normal;left:0;position:absolute;top:2px;color:#fff !important;}
.footer-info ul li a{color:#fff;}
.footer-info ul.social{margin:0;}
.footer-info ul.social li a.email{background-color:#000;}
.footer-info ul.social li a.google{background-color:#DD4B39;}
footer .copyright{padding:0;margin:0;border:0;}
footer .credits{text-align:right;}
.addthis_toolbox a{position:relative;text-decoration:none;outline:none;}
.addthis_button_facebook span.at16nc,
.addthis_button_google_plusone_share span.at16nc,
.addthis_button_twitter span.at16nc,
.addthis_button_email span.at16nc{font-family:"FontAwesome";font-weight:normal;font-style:normal;-webkit-font-smoothing:antialiased;font-size:46px;background-image:none !important;width:60px;height:60px;position:relative;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;text-align:center;transition:all 400ms ease-in-out 0s;}
.addthis_button_facebook span.at16nc{background:#2e6aae;}
.addthis_button_facebook span.at16nc:before{content:"\f09a";color:#fff;line-height:62px;}
.addthis_button_facebook span.at16nc:hover{background-color:rgba(46,106,174,0.5)}
.addthis_button_google_plusone_share span.at16nc{background:#000;}
.addthis_button_google_plusone_share span.at16nc:before{content:"\f0d5";color:#fff;line-height:60px;}
.addthis_button_google_plusone_share span.at16nc:hover{background:rgba(0,0,0,0.5)}
.addthis_button_twitter span.at16nc{background:#3191e3}
.addthis_button_twitter span.at16nc:before{content:"\f099";color:#fff;line-height:62px;}
.addthis_button_twitter span.at16nc:hover{background:rgba(49,145,227,0.5);}
.addthis_button_email span.at16nc{background:#616161;}
.addthis_button_email span.at16nc:before{content:"\f003";color:#fff;line-height:60px;}
.addthis_button_email span.at16nc:hover{background:rgba(97,97,97,0.5);}
#toTop{border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.block-login .reg-benefits{text-align:left;padding-left:50px;}
.block-login .reg-benefits h3{letter-spacing:normal;}
.reg-benefits ul{padding:10px 0 0 0;}
.reg-benefits ul li{font-size:14px;list-style:inside disc;}
.account-login .block-login{min-height:320px}
.account-login .block-login .form-actions{display:inline-block;position:relative;top:20px;}
.customer-account-login .main-container.col1-layout{z-index:1;}
.data-table .btn-remove2:before{font-family:"FontAwesome";content:"\f014";color:rgba(0,0,0,0.75);font-size:25px;line-height:36px;}
.data-table .btn-remove2{background-image:none;color:#fff;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
.empty-category i{font-size:28px;color:#fff;line-height:30px;background:#202020;padding:28px;border-radius:60px;-moz-border-radius:60px;-webkit-border-radius:60px;}
.opc .chosen-container{width:100% !important;}
.block-advert{background:transparent !important;}
.payment-after-label-icon-anchor{width:40px;height:40px;display:block;}
.payment-after-label-icon-anchor:before{content:"\f05a";font-family:'FontAwesome';color:black;font-size:16px;transition:color 0.1s linear;-webkit-transition:color 0.1s linear;-moz-transition:color 0.1s linear;}
.payment-after-label-icon-anchor:hover{text-decoration:none;}
.payment-after-label-icon-anchor:hover:before{color:#ED1D24;}
.payment-after-label-wrapper{display:inline-block;margin-left:3px;position:relative;}
.payment-after-label{position:absolute;top:0px;left:20px;left:43px;width:630px;padding:20px;background:white;border:5px solid red;}
.payment-after-label{display:none;}
.abo-system{display:inline-block;float:right;margin-top:40px;}
.deadline-delivery{clear:both;padding:0 0 17px 0;margin-bottom:17px;}
.deadline-delivery .std{padding-bottom:10px;}
.deadline-delivery .std h3{padding-bottom:0px;}
.brand-wrapper .brand-logo img{width:100%;}
.brand-wrapper .brand-logo{margin-bottom:1.6em;}
.brand-wrapper .bx-title{margin-bottom:1.6em;}
.brand-products-wrapper{margin-top:1.6em;margin-bottom:1.6em;}
.brands-index-view .col-left{padding-top:30px;}
.awshopbybrand-index-brandpageview .col-left{padding-top:40px;}
#queldoreiNav>li>div.sub-wrapper>ul>li{float:left;}
input#p_method_paymentnetwork_pnsofortueberweisung, label[for=p_method_paymentnetwork_pnsofortueberweisung] {
    /*display: none!important;*/
}
p.agree a {
    border-bottom: 1px dashed red;
    transition: 0.5s all;
}
p.agree a:hover {
    border-bottom: 1px dashed red;
    text-decoration: none;
    color: red;
}
@media (max-width: 767px) {
    body.cms-uber-uns.cms-page-view .std p {
        text-transform: none;
    }

    body.cms-uber-uns.cms-page-view p span {
        font-weight: normal;
    }

    div.product-tabs-container h2.tab-heading a {
        font-size: 3.4vw!important;
        padding: 0 5px 0 5px!important;
    }
}