button.button span{text-transform:none !important;}
.bxp-top-links ul li .cms-link-content-container{top:37px !important;//top red line}
.bxp-top-links ul li .cms-link-content-container:before{top:-18px !important;//top red arrow}
.bxp-top-links ul li .cms-link-content{display:table;}
.bxp-top-links .cms-link-content p{line-height:18px;}
.bxp-top-links .cms-link-content ul li{display:block;float:left;clear:both;line-height:18px;}
.bxp-top-links .cms-link-content ul li:before{content:"";color:#444444;float:left;font-size:14px;margin-right:10px;text-align:center;width:16px;display:inline-block;font-family:FontAwesome;font-size:inherit;font-style:normal;font-weight:normal;}
.bxp-top-links > ul> li:first-child{float:left;}
.bxp-top-links >ul >li:last-child{float:right !important;}
.user-section-container{text-align:right;padding:0 10px;}
header .logo{vertical-align:top;}
header .logo{padding:0;}
.nav-search-wrapper{margin:39px auto 0 !important;}
.nav-search-wrapper .search-top-container #search{max-width:500px;}
.nav-container{display:block;}
.nav-container ul{margin-left:0 !important;margin-top:0 !important;}
#queldoreiNav{margin-bottom:0 !important;margin-top:0px !important;}
#queldoreiNav > li.active{box-shadow:none;}
#queldoreiNav > li > a{letter-spacing:normal;}
input#search{background-position:90% center !important;}
.yui-ac{margin-left:46px;}
.yui-ac .search-autocomplete{background:transparent;}
.yui-ac-content{border:1px solid #e3e3e3;box-shadow:0 0 5px 0 #EAEAEA inset;width:530px;padding:10px;}
.aw-sas-all-results{background:#847E7E;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;}
.aw-sas-all-results:hover{background:#ED1D24;color:#fff;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;}
.yui-ac-bd ul > li.selected{background-color:#FAFAFA;}
.header .form-search .search-autocomplete ul > li,
.yui-ac-content ul > li{border:none;border-bottom:1px solid #C4C6C8;color:#2F2F2F;cursor:pointer;margin:4px 0;min-height:85px;padding:4px;}
.user-section-container .links{}
.user-section-container .separator{display:inline-block;float:none !important;line-height:16.8px;margin:0 8px;}
.user-section-container .welcome-msg{display:block !important;float:none !important;line-height:19px;}
.top-dropdowns{bottom:11px;margin:0 !important;right:0;top:30px !important;}
header{position:relative;}
.header-switch.language-switch{margin:0 0 8px 0;}
.header-switch{line-height:20px;}
.flexslider .slides > li{max-height:380px !important;}
.cart-top > a span{display:inline-block;}
.slides strong{font-size:24px !important;font-weight:700 !important;}
.flexslider .slides .content .border{background:none repeat scroll 0 0 rgba(0, 0, 0, 0.09);height:0px !important;margin:0 !important;display:none !important;}
.slides .content{max-width:680px !important;margin-left:auto !important;margin-right:auto !important;float:none !important;}
.slides .content button span span{text-transform:none !important;}
.welcome-msg{color:rgba(29, 28, 27, 0.65);}
.links li.separator{background:none;padding:0 0 !important;}
.links li.separator:after{content:"|";position:relative;}
.cart-top:hover{background:#000;}
.cart-top-container{margin:0 !important;}
.flex-direction-nav{width:1155px;}
.product-tabs-container .category-products{margin-bottom:0 !important;}
.product-tabs-container .product-tabs-content{padding-bottom:0 !important;}
.products-grid li.item{-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;border:none;background-color:#fff;-webkit-box-shadow:0 0 5px rgba(0,0,0,.09);-moz-box-shadow:0 0 5px rgba(0,0,0,.09);box-shadow:0 0 5px rgba(0,0,0,.09);padding:9px;min-height:425px;}
.products-grid li.item .product-image{border:solid 1px #eaeaea;padding:20px;}
.products-grid .product-data,
#related-products-list .product-data{min-height:70px;}
.products-grid .product-title,
#related-products-list .product-title{width:60%;display:block;float:left;}
.products-grid .product-name,
#related-products-list .product-name{font-family:Arial;font-size:13px;color:#3c3c3c;display:block;float:left;}
.products-grid .product-title .brand,
.products-grid .product-title .product-content{display:block;clear:left;margin-left:4px;}
.products-grid .product-title .brand a{margin:4px;font-size:12px;color:#a4a4a4;}
#related-products-list .price-box-input{margin:4px 0;display:inline-block;float:right;}
.products-grid .price-box,
#related-products-list .price-box{display:block;float:right;margin:4px 0;}
#related-products-list .price-box{margin:0;}
.products-grid .price-box p,
#related-products-list .price-box p{text-align:right;font-size:15px !important;}
.products-grid .price-box p span,
.products-grid .price-box .price,
#related-products-list .price-box .price,
#related-products-list .price-box p span{font-size:14px !important;}
.products-grid .price-box .price,
#related-products-list .price-box .price{font-family:Arial !important;font-size:16px;line-height:120%;margin:4px;}
#related-products-list .price-box .price{margin:0;}
.products-grid .product-quick-form{margin:15px 0;}
.products-grid .product-quick-form label,
.chosen-container .chosen-drop,
.chosen-container-single .chosen-single span,
.product-shop-info .quick-form-wrapper{font-family:Arial;font-size:11px;color:#000;}
#related-products-list .button-container button.button span span{background:none;position:relative;}
#related-products-list .button-container button.button{position:relative;}
#related-products-list .button-container button.button:after{content:"";display:inline-block;font-family:FontAwesome;font-size:16px;font-style:normal;font-weight:normal;padding-left:0px;color:#fff;position:absolute;top:9px;left:9px;}
.chosen-container-single .chosen-drop{-webkit-box-shadow:0 4px 5px rgba(0,0,0,.05) !important;-moz-box-shadow:0 4px 5px 5px rgba(0,0,0,.05) !important;box-shadow:0 4px 5px rgba(0,0,0,.05) !important;border:solid 1px rgba(0,0,0,.11) !important;border-top:none !important;}
.product-shop-info .quick-form-wrapper{display:block;clear:both;}
.products-grid .product-quick-form .field-row,
.product-shop-info .quick-form-wrapper .field-row{display:block;float:left;position:relative;}
.products-grid .product-quick-form .field-row:first-child,
.product-shop .quick-form-wrapper .field-row:first-child{display:block;float:left;}
.products-grid .product-quick-form label{color:#3C3C3C;float:left;font-family:Arial;font-size:12px;line-height:30px;padding-right:10px;}
.products-grid .product-quick-form .field-row .chosen-container-single ,
.product-shop .quick-form-wrapper .field-row .chosen-container-single{height:27px !important;line-height:28px !important;-webkit-border-radius:2px !important;-moz-border-radius:2px !important;border-radius:2px !important;background:#fff !important;-webkit-box-shadow:inset 1px 2px 5px rgba(0,0,0,.05) !important;-moz-box-shadow:inset 1px 2px 5px rgba(0,0,0,.05) !important;box-shadow:inset 1px 2px 5px rgba(0,0,0,.05) !important;border:solid 1px rgba(0,0,0,.11) !important;}
.products-grid .product-quick-form .field-row:first-child .chosen-container-single .chosen-single,
.product-shop .quick-form-wrapper .field-row:first-child .chosen-container-single .chosen-single{background:transparent !important;z-index:12;position:relative;}
.product-shop .chosen-container,
.products-grid .chosen-container{font-size:11px;width:46px !important;}
.chosen-container{font-size:11px;}
.products-grid .chosen-container .chosen-results li,
.product-shop .chosen-container .chosen-results li{text-align:right;padding-right:20px;}
.chosen-container-single .chosen-single{padding-left:4px !important;}
.chosen-container-single .chosen-single{height:27px !important;line-height:27px !important;-webkit-border-radius:2px !important;-moz-border-radius:2px !important;border-radius:2px !important;background:transparent !important;-webkit-box-shadow:none !important;-moz-box-shadow:none !important;box-shadow:none !important;border:none !important;}
.products-grid .chosen-container-single .chosen-single span,
.product-shop .chosen-container-single .chosen-single span{float:right;}
.chosen-container-single .chosen-single div b{background-position:0 5px !important;}
.products-grid .product-quick-form .field-row:last-child .chosen-container-single .chosen-single span,
.product-shop .quick-form-wrapper .field-row:last-child .chosen-container-single .chosen-single span{float:left;}
.products-grid .button-container,
.product-shop .add-to-cart,
#related-products-list .button-container{clear:left;float:right;margin-left:0;width:100%;display:block;}
.products-grid .button-container button.button,
.product-shop .add-to-cart button.btn-cart,
#related-products-list button.button{background:#818080 !important;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;height:35px;width:100%;}
.products-grid .button-container button.button:hover,
.product-shop .add-to-cart button.btn-cart:hover,
#related-products-list button.button:hover{background:#ED1D24 !important;}
.products-grid .button-container button.button span,
.product-shop .add-to-cart button.btn-cart span,
#related-products-list button.button span{background:none;text-indent:inherit;text-align:center;height:auto;width:100%;}
.product-shop .add-to-cart button.btn-cart span{width:auto;}
.products-grid .button-container button.button span span,
.product-shop .add-to-cart button.btn-cart span span,
#related-products-list button.button span span{background:none;text-transform:inherit !important;line-height:inherit;}
.products-grid .button-container button.button span span:after,
.product-shop .add-to-cart button.btn-cart span span:after,
#related-products-list .button-container button.button span span:after{content:"";display:inline-block;font-family:FontAwesome;font-size:16px;font-style:normal;font-weight:normal;padding-left:5px;}
.my-account h1{display:inline-block;margin-bottom:10px;line-height:36px !important;}
.my-account .customweb-warning{background-position:71px 20px;}
.my-account .page-title.title-buttons .link-reorder{background:none repeat scroll 0 0 #ED1D24;border-radius:3px;color:#FFFFFF;padding:8px 8px 4px 8px;font-family:"Myriad Pro",sans-serif;font-size:14px;font-weight:normal;text-transform:uppercase;white-space:nowrap;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;}
.my-account .page-title.title-buttons .link-reorder:hover{background:none repeat scroll 0 0 #000;text-decoration:none;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;}
.my-account .order-page{margin-bottom:40px;}
.my-account .order-page .col2-set{margin-bottom:30px;}
.my-account .order-page .pager{border-top:0;}
.my-account .order-page .pager .pages{padding-right:10px;}
.my-account .order-page .pager .pages li a{height:auto;}
.my-account .order-items{margin-bottom:20px;padding:5px;}
.my-account #my-orders-table{margin-bottom:20px;}
.my-account .order-info{display:block;clear:both;width:100%;float:left;margin-bottom:10px;padding-left:0;}
.my-account .order-info-box td{text-align:right !important;}
.my-account .order-info li{border:0 !important;border-radius:3px;margin-right:10px;}
.my-account .order-info li a:hover{border-radius:3px;}
.my-account .page-title.title-buttons .separator{height:0;font-size:0;}
.my-account #my-subscriptions-table{border-collapse:separate;border-radius:2px;box-shadow:0 0 8px rgba(0, 0, 0, 0.15);}
.my-account #my-subscriptions-table tbody tr{background-color:#fff;}
.my-account .order-page .data-table{margin:10px 0 !important;}
.my-account .buttons-set{margin:0;}
.my-account .order-items td:first-child{border-left:1px solid #E9E9E9;}
.my-account .order-items tbody tr:last-child td{border-bottom:1px solid #E9E9E9 !important;}
.my-account .order-page .button.button span{float:none;text-transform:uppercase;line-height:normal;font-size:14px;font-family:"Myriad Pro",sans-serif;background:none repeat scroll 0 0 #000;text-decoration:none;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;}
.my-account .order-page .button.button:hover span{background:none repeat scroll 0 0 #ED1D24;background-color:#ED1D24;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;}
.my-account .order-page .button.button span span{padding:8px 8px 4px;}
.cms-index-index .block .block-title strong{font-family:"Oswald",serif;letter-spacing:normal;}
.footer-info h4{font-family:"Oswald",serif;letter-spacing:normal;}
.product-view h1{font-family:"Oswald",serif;letter-spacing:normal;}
h1, h2, h3, h4, h5, strong, span, p, a{letter-spacing:normal;}
.cms-index-index .main.row{padding-top:20px !important;}
.footer-info ul li:before{content:inherit !important;}
.footer-info .information ul li,
.footer-info ul.disc li,
.footer-info ul li{padding-left:0 !important;}
.footer-info ul.social li a{background-color:#b2b1b1 !important;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;}
.footer-info ul.social li a.facebook:hover{background-color:#3D5FA6 !important;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;}
.footer-info ul.social li a.email:hover{background-color:#000000 !important;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;}
.footer-info ul.social li a:hover{background-color:#DD4B39 !important;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;}
#product_addtocart_form > div.product-img.grid_6.alpha > div.product-share > div.addthis_toolbox.addthis_default_style.addthis_64x64_style{display:inline-block !important;width:350px !important;}
.addthis_button_facebook span.at16nc,
.addthis_button_google_plusone_share span.at16nc,
.addthis_button_twitter span.at16nc,
.addthis_button_email span.at16nc{background-color:#b2b1b1 !important;}
.addthis_button_facebook span.at16nc:hover{background-color:#2e6aae !important;}
.addthis_button_google_plusone_share span.at16nc:hover{background-color:#000 !important;}
.addthis_button_twitter span.at16nc:hover{background-color:#3191e3 !important;}
.addthis_button_email span.at16nc:hover{background-color:#616161 !important;}
.std{padding-bottom:40px;}
.std h3,
.std h3 strong,
.std h3 strong span{text-transform:inherit !important;font-size:14px !important;font-weight:normal !important;letter-spacing:normal !important;line-height:normal !important;text-transform:inherit !important;}
.cms-page-view .std li:before{content:"";font-family:"FontAwesome";font-size:14px;padding-right:10px;}
.cms-page-view .std li{position:relative;}
.cms-index-noroute dl{clear:both;display:block;float:left;margin-bottom:30px;}
.cms-index-noroute dl dd .button{margin-top:30px;}
.product-shop .brand{padding:10px 0;font-size:14px;color:#898989;text-transform:uppercase;}
.product-shop .brand span,
.product-shop .brand a{font-size:14px;color:#898989;text-transform:uppercase;margin:4px;}
.product-shop h3{padding-bottom:10px;color:#656565}
.product-shop .product-name,
.product-shop .mixture,
.product-shop .description{border-bottom:1px solid rgba(227, 227, 227, 0.61);margin:0 0 15px 0;padding:0 0 7px 0;}
.product-shop #product-options-wrapper{border-top:1px solid rgba(227, 227, 227, 0.61);border-bottom:1px solid rgba(227, 227, 227, 0.61);margin:0 0 15px 0;padding:17px 0 17px 0;}
.product-shop-info .product-options dd{border-bottom:none;margin:0;padding:0;}
.product-shop-info .product-options dt{margin-bottom:10px;}
.product-shop-info .product-options dt .required{font-size:14px;font-weight:normal;}
.product-shop-info .product-options dt .required em{padding-right:5px;}
.product-shop-info .product-options .chosen-container{background:none repeat scroll 0 0 #FFFFFF !important;border:1px solid rgba(0, 0, 0, 0.11) !important;border-radius:2px !important;box-shadow:1px 2px 5px rgba(0, 0, 0, 0.05) inset !important;height:27px !important;line-height:28px !important;padding-left:5px;}
.product-shop .mixture,
.product-shop .description,
.product-shop .content{border-bottom:1px solid rgba(227, 227, 227, 0.61);padding:0 0 17px 0;margin-bottom:17px;}
.product-shop .description{padding-top:17px;}
.vat-notice{display:block;clear:both;vertical-align:bottom;}
.vat-notice > p{display:block;vertical-align:bottom;}
.product-shop-info .price-box{float:initial !important;display:inline-block !important;clear:left;}
.product-shop-info .sku.s{clear:both;display:block;float:inherit !important;}
.product-shop .mixture .std,
.product-shop .description .std,
.product-shop .content .std{padding-bottom:0;}
.product-shop .price-box{display:block;}
.product-shop .sku{clear:left;display:block;margin:3px;padding-top:10px;}
.product-shop .quick-form-wrapper{margin-bottom:20px;display:block;float:left;}
.product-shop .quick-form-wrapper .field-row .chosen-container-single{margin-right:10px;}
.product-shop .add-to-cart button.btn-cart span span{padding:0 76px;}
.product-view .product-img-box{width:100% !important;}
.product-view .product-img-box img{width:100%;height:auto;}
.product-view .product-img-box .product-image{-webkit-border-radius:2px/3px;-moz-border-radius:2px/3px;border-radius:2px/3px;background-color:#fff;-webkit-box-shadow:0 0 5px rgba(0,0,0,.09);-moz-box-shadow:0 0 5px rgba(0,0,0,.09);box-shadow:0 0 5px rgba(0,0,0,.09);padding:10px 0;}
.col1-layout .product-view .product-shop,
.product-view .product-shop-info{}
.account-login .block-login,
.account-create .block-login{max-width:800px !important;width:100%;}
.block .block-title strong span{font-size:16px;text-transform:none;}
.block-login .slides strong{font-size:16px !important;font-weight:normal !important;}
.account-login .block-login .block-slider,
.account-create .block-login .personal-information{width:45%;display:block;float:left;margin:0 15px 23px 15px;}
.account-login .block-login .block-slider #login-form ul,
.account-login .block-login .new-users .reg-benefits{min-height:120px;}
.account-login .block-login .new-users .reg-benefits{padding-top:21px;border-top:1px solid #E8E8E8;}
.account-login .block-login .new-users,
.account-create .block-login .login-information{width:45%;display:block;float:right;background:none repeat scroll 0 0 #FEFEFE;box-shadow:none;height:auto;margin:0 15px;overflow:visible;padding:0;position:static;text-align:center;}
.account-create .block-login .personal-information .form-list,
.account-create .block-login .login-information .form-list{padding:0 20px 25px;}
.account-login .block-login .block-title strong{border:0 none;margin:0;padding:0;font-size:16px;line-height:inherit;}
.account-create .block-content{padding:0;}
.customer-account-create .account-create h2.legend{margin:0px 0 0;}
.product-view .product-shop .product-options{clear:both;display:block;margin:0 0 13px;}
.account-create .block-login .block-content .form-list{margin:23px 0 0 0;}
.account-login .block-login .block-content .form-list label,
.account-create .block-login .block-content .form-list label{float:left;padding:8px 0;}
.account-create .form-list label.required em{color:#EB340A;float:none;font-style:normal;left:inherit;position:inherit;top:0;}
.account-create .login-information .form-list,
.account-create .personal-information .form-list{min-height:130px;}
.account-create .login-information .buttons-set,
.account-create .personal-information .control{display:block;float:right;}
.account-create .block-login .block-title{padding:10px 30px;}
.customer-account-create .account-create p.required,
.account-create .personal-information .control .input-box{display:block;float:left !important;text-align:left;margin-right:15px;padding:15px 0;}
.account-create .personal-information .control .input-box{margin:0 0 0 15px;padding:0;}
.customer-account-create .account-create .buttons-set button.button,
.account-create .personal-information .control .is_subscribed{display:block;float:left;}
.account-create .block-login .block-content .form-list label{text-align:left;}
.account-login .block-login .block-content .form-list .input-box,
.account-create .block-login .block-content .form-list .input-box{float:right;clear:right;}
.account-create .block-login .block-content .control .input-box{width:auto;margin-top:0;}
.account-create .block-login .block-content .control label{padding:0;}
.account-create .block-login .block-content{padding-bottom:23px;margin:0 15px 23px 15px;}
.block-login .block-slider .slides > li button.button,
.block-login .new-users .button{float:right;margin:0;}
.block-login .reg-benefits{padding-left:15px !important;text-align:left;}
.block-login .reg-benefits h3{padding-bottom:5px;}
.block-login .reg-benefits h3,
.block-login .reg-benefits li{font-size:12px;line-height:inherit;color:#505050;}
.block-login .block-content .form-list .input-box{margin:2px 0 25px;}
.account-login .block-login{min-height:300px;}
.block-login .new-users .block-content{text-align:left;}
.block-login .new-users .block-content li{text-align:left;}
a:hover#forgot-password{color:red;}
.block-login .forgot-password{color:#322C29;display:block;float:right;padding-right:10px;margin:15px 0 16px;vertical-align:middle;}
.block-login .block-title:after{background:none repeat scroll 0 0 #E8E8E8;border:medium none !important;content:"";float:left;height:0;margin:23px 0 0 17px;width:0;}
.block-login .block-content{border-top:1px solid #E8E8E8;padding-top:23px;}
.block-login .block-title{padding:29px 33px 30px;}
.reg-benefits,
.block-login #login-form .form-list{min-height:125px;}
.block-login .new-users .block-content ul{list-style:none;}
.block-login .new-users .block-content li{list-style:none;}
.reg-benefits ul li:before{content:"";color:#444444;float:left;font-size:14px;margin-right:10px;text-align:center;width:16px;display:inline-block;font-family:FontAwesome;font-size:inherit;font-style:normal;font-weight:normal;}
.category-image img{border-radius:2px;}
.block .block-content a, .block .block-content li a, .block .block-content li.item a, .cms-index-index .block .block-content a, .cms-index-index .block .block-content li a, .cms-index-index .block .block-content li.item a, .block-layered-nav .block-content dd li a, .product-view .product-shop .no-rating a, .product-view .product-shop .ratings a, .product-view .box-up-sell .product-name, .data-table td a{color:#322C29;}
.product-shop-info .add-to-box{clear:both;}
.newsletter-wrapper{max-width:800px !important;width:100%;margin:30px auto;}
.block.block-subscribe{max-width:760px !important;width:100%;margin:0;margin-bottom:30px;}
.newsletter-wrapper #newsletter-validate-detail .block-content{position:relative;}
.newsletter-wrapper #newsletter-validate-detail ul{display:block;float:left;clear:both;width:100%;}
.newsletter-wrapper #newsletter-validate-detail li{width:47%;display:block;float:left;margin-top:15px;margin-bottom:15px;}
.newsletter-wrapper #newsletter-validate-detail .actions{display:block;float:right;margin-right:38px;}
.newsletter-wrapper #newsletter-validate-detail .actions p.required{display:block;float:left;margin-right:10px;margin-top:15px;}
.newsletter-wrapper #newsletter-validate-detail label{display:block;float:left;width:25%;}
.newsletter-wrapper #newsletter-validate-detail .form-list .input-box{clear:inherit;float:left;margin:0;}
.newsletter-wrapper #newsletter-validate-detail input.input-text{width:210px;min-width:80%;}
.discount.aw_giftcard{margin-top:30px;}
.box-account .box-head h2{margin:0 0 10px;}
#aw_giftcard-form .input-box,
#aw_giftcard-form .buttons-set{display:block;float:left !important;clear:left !important;}
#aw_giftcard-form .input-box label{padding-top:5px;}
#aw_giftcard-form .buttons-set{margin:0;}
.data-table{border-top:6px solid #ED1D24;}
#checkoutSteps .data-table{border-top:none;}
#shopping-cart-table .product-name{font-size:16px;}
#shopping-cart-table button.button_white{margin-right:10px;}
#shopping-cart-table button#empty_cart_button{margin-right:0;}
button.button_white:hover{box-shadow:1px 1px 5px 0 rgba(0, 0, 0, 0.15);padding:0;}
button.button_white:hover span{background:linear-gradient(to bottom, #F2F2F2 1%, #FFFFFF 100%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;}
.chosen-container{background:none repeat scroll 0 0 #FFFFFF !important;border:1px solid rgba(0, 0, 0, 0.11) !important;border-radius:2px !important;box-shadow:1px 2px 5px rgba(0, 0, 0, 0.05) inset !important;height:27px !important;line-height:28px !important;padding-left:5px;}
.shipping-form .chosen-container{background:none repeat scroll 0 0 #FFFFFF !important;border:1px solid rgba(0, 0, 0, 0.11) !important;border-radius:2px !important;box-shadow:1px 2px 5px rgba(0, 0, 0, 0.05) inset !important;height:27px !important;line-height:28px !important;padding-left:5px;width:96% !important;}
.shipping-form .input-box{margin-top:5px !important;}
.shipping-form .chosen-container-single .chosen-single span{float:left;}
.shipping-form .chosen-container .chosen-results li{text-align:left;}
.opc .form-list .input-box{display:table;width:100%;}
.checkout-onepage-index .top-opc li{float:left;margin:0 40px 30px 0;width:155px;}
.checkout-onepage-index #checkoutTop li h2{line-height:23px;margin:8px 0 0;font-family:"Oswald";}
.checkout-onepage-index #checkoutTop li span{font-family:"Oswald";font-size:18px;height:40px;line-height:41px;width:40px;}
.before-cart p,
.before-cart p span{margin-bottom:10px;color:#656565;font-family:Oswald !important;font-size:16px !important;margin-bottom:15px;}
.before-cart p span{color:#656565 !important;}
.page-title{margin:0;}
.notice-msg{box-shadow:0 0 8px rgba(0, 0, 0, 0.15);background-color:#fff;}
#subscription-form{border-radius:2px;border-right:medium none;border-style:solid none none;border-width:6px medium medium;box-shadow:0 0 6px 0 rgba(0, 0, 0, 0.1);border-top-color:#ED1D24;padding:20px 13.513%;position:relative;background-color:#fff;display:block;}
.form-list .fields.gender li.field{display:block !important;float:left !important;margin-right:20px;width:auto !important;}
#form-validate .personal-information ul li:first-child{float:left;clear:both;width:100%;}
#form-validate .personal-information ul li:first-child .input-box{float:left;clear:both;width:100%;}
#form-validate .personal-information ul li label{float:left;display:block;}
#form-validate .personal-information li.field #gender_male,
#form-validate .personal-information li.field #gender_female{margin:9px;}
#form-validate .personal-information #is_subscribed{margin:6px;}
#form-validate .personal-information ul li label em{float:right;}
#form-validate .personal-information ul li .fields{float:right;display:block;}
#form-validate .personal-information .customer-dob .dob-year ,
#form-validate .personal-information .customer-dob .dob-year input{width:57px;}
#form-validate .personal-information .customer-dob .dob-year input{width:47px;}
#form-validate .personal-information .customer-dob input.input-text{min-width:89%!important;}
#form-validate .personal-information ul li .fields li{margin-right:0;margin-left:20px;}
.form-list .fields.gender li.field #gender_male,
.form-list .fields.gender li.field #gender_female{margin:6px;}
.form-list .fields.gender li.field:first-child{clear:left;}
#checkoutTop li{min-height:54px !important;}
.subscription-form label{text-align:center;display:block;width:100%;color:#656565;}
.subscription-form .plan-details p{padding-bottom:5px;}
.subscription-form .plan-details{margin:10px 0;}
#billing-new-address-form .chosen-container,
#shipping-new-address-form .chosen-container{width:90% !important;}
#billing-new-address-form .chosen-container-single .chosen-single span,
#shipping-new-address-form .chosen-container-single .chosen-single span{float:left;}
#billing-new-address-form .chosen-container .chosen-results li,
#shipping-new-address-form .chosen-container .chosen-results li{text-align:left;}
#checkout-step-billing li.control{padding:5px 0;}
#checkout-step-billing .required,
#payment-buttons-container .required{padding:5px 0;}
.form-list label.required em{top:inherit;}
.block-progress dt a{font-size:12px;color:#656565 !important;text-decoration:underline;}
.data-table tfoot td{box-shadow:0 4px 2px -4px rgba(0, 0, 0, 0.15) inset;}
.data-table thead th{box-shadow:0 -4px 2px -4px rgba(0, 0, 0, 0.15) inset;}
#checkoutSteps .form-list label,
#form-validate .form-list label{padding:5px 0;}
#form-validate{margin-bottom:20px;display:block;}
#form-validate .fieldset{padding-bottom:0;}
#form-validate .required{padding-bottom:10px;}
.checkout-onepage-success .col-right{margin-top:120px;}
.box-account .box-head{padding-top:20px;}
#reorder-validate-detail .block-content .actions{text-align:right !important;}
.top-opc li.allow.active .number{background:#ED1D24;}
.checkout-onepage-success .page-title{margin:0;}
.price-label{display:none !important;}
.reg-benefits ul li{list-style:none !important;}
.product-shop-info{margin-bottom:30px;}
.product-shop-info .sku{margin-left:0;padding-left:0;}
.product-shop-info .sku +p{padding:10px 0;}
.grid_3.payments .block-content p a{color:#fff !important;}
.grid_3.payments .block-content p a:hover{color:#000 !important;}
.grid_3.payments .block-content p:nth-child(2) .widget.widget-cms-link a{background-image:url(../images/payments.png);width:270px;height:35px;display:block;margin-top:5px;display:inline-block;width:100%;font-size:0;line-height:0;vertical-align:middle;background-size:100%;background-position:50% 50%;background-repeat:no-repeat;}
.grid_3.payments .block-content p:last-child .widget.widget-cms-link a{background-image:url(../images/payments2.png);width:270px;height:35px;display:block;margin-top:5px;display:inline-block;width:100%;font-size:0;line-height:0;vertical-align:middle;background-size:100%;background-position:50% 50%;background-repeat:no-repeat;}
.grid_3.payments .block-content p:last-child .widget.widget-cms-link a span,
.grid_3.payments .block-content p:nth-child(2) .widget.widget-cms-link a span{text-indent:-9999px;visibility:hidden;}
.col-left.sidebar .block.block-subscribe{max-width:230px !important;margin-left:15px;margin-right:15px;}
.cms-newsletter .col-left.sidebar{padding-top:35px;}
.cms-newsletter .col-left.sidebar .form-list input.input-text,
.cms-newsletter .col-left.sidebar .form-list .input-box{width:220px;margin-left:-8px;}
.cms-newsletter .col-left.sidebar p.required{font-size:12px;text-align:center;}
.product-gift-card .product-shop{margin-bottom:20px;}
.aw-gc-form > .fieldset{padding:0 !important;}
.aw-gc-send-form{width:100%!important;}
.aw-gc-send-form .field{width:45%;margin-right:5%;}
.aw-gc-send-form .field input{width:100% !important;}
.aw-gc-send-form .field:last-child{width:45%;margin-right:0;}
.aw-gc-send-form .input-box{width:100%;}
.aw-gc-send-form textarea{width:95%;}
#calculator .field-row{display:block;float:left;}
#calculator .field-row p{text-align:right;margin-right:10px !important;}
#calculator .field-row p small{background:url("../images/note_bg.gif") no-repeat scroll 1px 6px rgba(0, 0, 0, 0);background-position:0 4px;padding-left:12px;}
#calculator .field-row > label ,
.abo-calculator .product-selection label{display:inline-block;width:130px;}
.cms-abo-system .col-right.sidebar{margin-top:30px;}
.cms-abo-system .table-results #abo-calculator-results td{padding:18px 0 !important;}
.cms-abo-system .table-results #abo-calculator-results tbody tr td:first-child{padding-left:10px !important;padding-right:5px !important;text-align:left;}
.cms-abo-system .table-results #abo-calculator-results tbody tr:first-child td:first-child{font-size:12px;}
.cms-abo-system .table-results #abo-calculator-results thead{background:#F5F5F3;}
.cms-abo-system .table-results #abo-calculator-results tbody tr td:first-child{font-size:12px;border-right:2px solid #E9E9E9;}
.cms-abo-system .table-results #abo-calculator-results tbody tr:first-child td{border-top:1px solid #E9E9E9;border-bottom:2px solid #E9E9E9;font-size:11px;}
.cms-abo-system .table-results #abo-calculator-results tbody tr td{font-size:11px;}
.cms-abo-system .table-results #abo-calculator-results tbody tr td a{background-color:#818080;border-radius:2px;color:#FFFFFF;padding:5px 10px;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;}
.cms-abo-system .table-results #abo-calculator-results tbody tr td a:hover{background-color:#ED1D24;border-radius:2px;color:#FFFFFF;padding:5px 10px;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;}
.cms-abo-system .table-results #abo-calculator-results tbody tr td a i{color:#fff;}
.cms-abo-system .table-results #abo-calculator-results tbody tr td{text-align:center;}
.cms-abo-system .table-results .price{display:block;padding:0 7px;color:#000;white-space:pre-wrap !important;}
#calculator input.input-text{border:1px solid #AAAAAA;border-radius:3px;width:92px;}
.cms-abo-system .table-results #abo-calculator-results tbody tr td.first{}
.cms-abo-system .table-results #abo-calculator-results tbody .price{}
.cms-abo-system .table-results #abo-calculator-results tbody td.odd{background:#FAFAFA;}
.cms-abo-system .table-results #abo-calculator-results{width:100%;}
.cms-abo-system .table-results > p{margin-bottom:40px;padding-bottom:40px;font-style:italic;}
.cms-abo-system .table-results #abo-calculator-results{margin-top:20px;margin-bottom:20px;border-top:6px solid #ED1D24;border-collapse:separate;border-radius:2px;box-shadow:0 0 8px rgba(0, 0, 0, 0.15);}
.cms-abo-system .table-results #abo-calculator-results thead{background:none repeat scroll 0 0 #FAFAFA;}
.cms-abo-system .table-results #abo-calculator-results th{font-weight:300;padding:18px 18px 18px 10px;}
.cms-abo-system .table-results #abo-calculator-results td{border-right:1px solid #E9E9E9;border-bottom:1px solid #E9E9E9;padding:18px;}
.cms-abo-system .table-results #abo-calculator-results tr{border-bottom:1px solid #E9E9E9;}
.cms-abo-system .table-results #abo-calculator-results tbody tr:last-child{border-bottom:none;}
.cms-abo-system .col-right.sidebar.masonry{margin-top:100px;}
.cms-abo-system .table-results #abo-calculator-results td:last-child{border-right:none;}
.cms-abo-system .table-results #abo-calculator-results thead,
.cms-abo-system .table-results #abo-calculator-results thead tr,
.cms-abo-system .table-results #abo-calculator-results tbody tr td:first-child,
.cms-abo-system .table-results #abo-calculator-results tbody tr:first-child td{background:#FAFAFA;}
.cms-abo-system .table-results #abo-calculator-results tbody tr{background:#fff;}
#abo-calculator-form #calculator input#calc{background:none repeat scroll 0 0 #ED1D24;border-radius:3px;color:#FFFFFF;padding:2px 8px;border:none;font-size:12px;text-transform:uppercase;height:29px;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;margin-left:5px;}
#abo-calculator-form #calculator input#calc:hover{background:#2F2F2F;-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;}
.select2-container{width:200px !important;}
.select2-results li,
.select2-result-label{display:inline-block;width:100%;padding:0 !important;}
.select2-results .select2-highlighted{background:none repeat scroll 0 0 #FAFAFA;color:#FFFFFF;}
.select2-results .product-image{display:block;float:left;}
.select2-results h3{display:block;float:left;font-size:14px;width:45%;padding-left:2%;padding-right:2%;color:#656565;}
.table-results{position:relative;}
#ajax-loader-abo{position:absolute;right:0;top:-30px;}
.cms-index-index .block-facebook .block-content{padding:0 15px 15px 15px !important;}
.col-right.sidebar .block-title{border-bottom:1px solid #e8e8e8 !important;margin:0 15px 20px 15px !important;padding-bottom:15px !important;}
.col-right.sidebar .block-title:after{height:0 !important;}
.footer-info ul li:before,
.footer-info ul.disc li:before{content:'' !important;}
.cms-page-view.cms-lieferservice .std div{background-color:#F3F3F1;display:inline-block;width:100%;margin:5px 0 15px 0;clear:both;}
.cms-page-view.cms-lieferservice .std div img{display:block;float:left;}
.cms-page-view.cms-lieferservice .std div p{display:block;margin-top:70px;}
.cms-page-view.cms-lieferservice .std div{}
@media (max-width:1200px) and (min-width:768px){.nav-search-wrapper .search-top-container #search{width:400px !important;}
.bxp-top-links ul li a{font-size:11px !important;}
.account-login .block-login .block-content .form-list .input-box,
.account-create .block-login .block-content .form-list .input-box{clear:right;float:left !important;}
footer .credits{text-align:center !important;display:block;width:100%;}
footer{line-height:36px !important;}
.block.block-advert{background:transparent;}
.col2-right-layout .col-main{margin-left:0;}
}
@media (max-width:959px){.bxp-top-links ul li a{font-size:11px !important;}
.nav-search-wrapper .search-top-container{margin-left:0 !important;}
.nav-search-wrapper{display:block !important;float:none !important;margin:8px auto !important;width:240px !important;}
.nav-search-wrapper .search-top-container #search{width:230px !important;padding-right:0 !important;}
.cms-index-index .col-main{padding:0 !important;}
.top-dropdowns{width:auto;margin-top:0 !important;text-align:center !important;}
.top-dropdowns a,
.top-dropdowns p,
.top-dropdowns span,
.top-dropdowns div{text-align:center !important;}
.top-dropdowns > div{display:block;float:left;clear:inherit !important;}
.top-dropdowns .header-switch.language-switch{display:none;}
.top-dropdowns .language-select, .currency-select{display:block;float:left;margin:1px 10px 0 !important;text-align:center;}
.top-dropdowns .cart-top-title{width:60px !important;margin-right:10px;margin-bottom:0 !important;line-height:32px;font-family:Arial,Helvetica,sans-serif;font-size:12px;}
.top-dropdowns .cart-top-title a span.icon{margin-right:5px;height:30px;width:30px;}
.top-dropdowns .cart-top-title span.icon{background-size:45% 45%;}
.footer-advert .block-advert{width:90% !important;}
.footer-advert .block-content{width:100% !important;}
}
@media (max-width:767px){.top-dropdowns .user-section-container .welcome-msg, .top-dropdowns .user-section-container .links, .top-dropdowns .user-section-container > .separator{display:inline-block !important;}
.user-section-container .links{float:none !important;}
.pre-header-container .row > .grid_12{margin-bottom:0 !important;}
.bxp-top-links{padding-bottom:0 !important;}
.bxp-top-links ul li{margin-left:0;}
.bxp-top-links ul li a{font-size:11px !important;text-align:left;}
.cms-top-links-list{padding-bottom:10px;}
.product-shop select, .products-grid select{font-size:11px;width:109px !important;}
.product-quick-form label{display:block;float:left;padding-left:15px;padding-top:2px;}
.product-quick-form select{display:block;float:left;padding-left:10px;padding-right:5px;}
.search-top-container{margin:8px auto !important;}
.top-dropdowns{margin:10px auto !important;width:auto !important;}
.top-dropdowns .user-section-container .welcome-msg,
.top-dropdowns .user-section-container .links,
.top-dropdowns .user-section-container > .separator{display:block;float:left;}
.top-dropdowns .user-section-container{margin:10px 0;}
.top-dropdowns .language-select{margin:5px 5px 0 0 !important;}
.top-dropdowns .language-select,
.top-dropdowns .chosen-container,
.top-dropdowns select{width:70px !important;clear:left !important;}
.top-dropdowns .chosen-container-single .chosen-single{padding-left:0 !important;}
.top-dropdowns .cart-top-title{margin-top:5px;}
.top-dropdowns .cart-top-container{margin-top:5px !important;}
.top-dropdowns .cart-top > a span{font-size:12px;}
.top-dropdowns .user-section-container .links li{padding:0 !important;}
.top-dropdowns .cart-top i{font-size:16px;}
.main-container.col2-right-layout > .main.row{padding-top:0 !important;width:100% !important;}
.product-view .product-img-box .product-image img{height:auto;width:100%;}
.block.block-advert{background:transparent;}
#product_addtocart_form .alpha,
#product_addtocart_form .omega{margin:0 15px 10px 15px !important;}
#product_addtocart_form .omega{margin-bottom:30px !important;}
.addthis_button_facebook span.at16nc,
.addthis_button_google_plusone_share span.at16nc,
.addthis_button_twitter span.at16nc,
.addthis_button_email span.at16nc{width:40px !important;height:40px !important;font-size:25px !important;}
.addthis_button_facebook span.at16nc:before,
.addthis_button_google_plusone_share span.at16nc:before,
.addthis_button_twitter span.at16nc:before,
.addthis_button_email span.at16nc:before{line-height:40px !important;}
.account-login .block-login .block-content .form-list .input-box,
.account-create .block-login .block-content .form-list .input-box{clear:right;float:right !important;}
.account-login .block-login .block-slider, .account-create .block-login .personal-information{clear:both;display:block;float:left;margin:0 0 20px 0;width:100% !important;}
.block-login .block-slider .slides > li button.button, .block-login .new-users .button{clear:both;display:block;float:inherit;margin:0 auto;text-align:center;}
.account-login .block-login .new-users, .account-create .block-login .login-information{clear:both;display:block;float:left;margin:0 0 20px 0;width:100% !important;}
.block-login .forgot-password{color:#322C29;display:block;float:inherit;margin:15px 0 16px;padding-right:10px;text-align:center;vertical-align:middle;}
.page-title button{display:block;margin:10px auto;}
.product-tabs-content{padding:23px 0 !important;margin-top:0px !important;}
.sidebar .block{margin:0 15px 30px !important;}
.cms-index-index .block-facebook .block-content{padding:0 15px 15px 15px !important;}
.sidebar .block .block-title:after{height:0 !important;}
.footer-info{padding:30px 0 !important;}
.footer-advert .block-advert{width:90% !important;}
.footer-advert .block-content{width:100% !important;}
footer .credits{text-align:center !important;}
select{-webkit-appearance:none;box-shadow:none !important;}
}
@media (max-width:765px){.cms-top-links-list li,
.cms-top-links-list li:last-child,
.bxp-top-links ul li:last-child{margin-left:0 !important;margin-right:0 !important;float:none !important;}
}
@media (max-width:959px) and (min-width:769px){.col2-right-layout .col-main{margin-left:75px !important;}
}
@media
only screen and (max-width:760px),
(min-device-width:768px) and (max-device-width:1024px){.cms-abo-system table,
.cms-abo-system thead,
.cms-abo-system tbody,
.cms-abo-system th,
.cms-abo-system td,
.cms-abo-system tr{display:block;}
.cms-abo-system thead tr{position:absolute;top:-9999px;left:-9999px;}
.cms-abo-system tbody tr:first-child td{display:none;}
.cms-abo-system tbody tr td:first-child{text-align:center;}
.cms-abo-system tr{border:1px solid #ccc;}
.cms-abo-system td{border:none;border-bottom:1px solid #eee;position:relative;padding-left:50%;}
.cms-abo-system td:before{position:absolute;top:6px;left:6px;width:25%;padding-right:10px;white-space:nowrap;}
.cms-abo-system td::before{padding:12px;}
.cms-abo-system td:nth-of-type(2):before{content:"2 Weeks";}
.cms-abo-system td:nth-of-type(3):before{content:"4 Weeks";}
.cms-abo-system td:nth-of-type(4):before{content:"6 Weeks";}
.cms-abo-system td:nth-of-type(5):before{content:"8 Weeks";}
.cms-abo-system td:nth-of-type(6):before{content:"10 Weeks";}
.cms-abo-system td:nth-of-type(7):before{content:"12 Weeks";}
.cms-abo-system td:nth-of-type(8):before{content:"14 Weeks";}
.cms-abo-system td:nth-of-type(9):before{content:"16 Weeks";}
.cms-abo-system td:nth-of-type(10):before{content:"18 Weeks";}
.cms-abo-system td:nth-of-type(11):before{content:"20 Weeks";}
.cms-abo-system td:nth-of-type(12):before{content:"22 Weeks";}
.cms-abo-system td:nth-of-type(13):before{content:"24 Weeks";}
.cms-abo-system td:nth-of-type(14):before{content:"26 Weeks";}
}
.sales-order-view #order-info-tabs li{display:none !important;}
.sales-order-view #order-info-tabs li:first-child{display:block !important;}
.cart-total .vat-notice{margin-bottom:20px;}
.cart-total .vat-notice p{text-align:left;padding-left:38px;margin-top:-5px;font-style:italic;}
#shopping-cart-totals-table{margin-bottom:0px;}
.yui-ac-content{position:absolute !important;z-index:1000;}
.nav-container{z-index:10;}
.product-view .product-shop{margin-bottom:20px;}
.product-options dt >label{margin-bottom:15px;display:inline-block;}
.font-select-wrapper{display:block;float:left;}
.fontsSelect{display:inline-block;width:100%;clear:both;}
.font-select-wrapper > div{display:block;float:left;width:130px;height:35px;margin-right:10px;margin-bottom:10px;margin-top:5px;clear:left;}
.font-select-wrapper > label{display:inline-block;float:left;text-align:center;width:100%;}
.fontsSelect > div:first-child{display:none !important;}
.font-select-wrapper > div:hover{cursor:pointer;}
.fontSelect1{background:url(../images/fonts-hover.png) no-repeat 0 2px;background-size:cover;}
.fontSelect3{background:url(../images/fonts-hover.png) no-repeat 0 -67px;background-size:cover;}
.fontSelect2{background:url(../images/fonts-hover.png) no-repeat 0 -32px;background-size:cover;}
.fontSelect4{background:url(../images/fonts-hover.png) no-repeat 0 -102px;background-size:cover;}
.fontSelect5{background:url(../images/fonts-hover.png) no-repeat 0 -137px;background-size:cover;}
.fontSelect7{background:url(../images/fonts-hover.png) no-repeat 0 -206px;background-size:cover;}
.fontSelect6{background:url(../images/fonts-hover.png) no-repeat 0 -171px;background-size:cover;}
.fontSelect1:hover,
.fontSelect1.selected{background:url(../images/fonts.png) no-repeat 0 2px;background-size:cover;}
.fontSelect3:hover,
.fontSelect3.selected{background:url(../images/fonts.png) no-repeat 0 -67px;background-size:cover;}
.fontSelect2:hover,
.fontSelect2.selected{background:url(../images/fonts.png) no-repeat 0 -32px;background-size:cover;}
.fontSelect4:hover,
.fontSelect4.selected{background:url(../images/fonts.png) no-repeat 0 -102px;background-size:cover;}
.fontSelect5:hover,
.fontSelect5.selected{background:url(../images/fonts.png) no-repeat 0 -137px;background-size:cover;}
.fontSelect7:hover,
.fontSelect7.selected{background:url(../images/fonts.png) no-repeat 0 -206px;background-size:cover;}
.fontSelect6:hover,
.fontSelect6.selected{background:url(../images/fonts.png) no-repeat 0 -171px;background-size:cover;}