.yui-ac label{float:left;height:21px;width:24px;overflow:hidden;text-align:left;text-indent:-999em;}
.yui-ac button{display:block;padding:0;margin:0;width:auto;vertical-align:middle;overflow:visible;border:0 none;cursor:pointer;background:none repeat scroll 0 0 transparent;color:#2F2F2F;font:12px/15px Arial,Helvetica,sans-serif;}
.yui-ac button span{display:block;height:21px;padding:0 0 0 3px;background:url("../images/aw_searchautocomplete/btn_search.gif") no-repeat scroll 0 0 transparent;color:#FFFFFF;text-align:center;white-space:nowrap;font:bold 11px/21px Tahoma,Verdana,Arial,sans-serif;}
.yui-ac button span span{background-position:100% 0;padding:0 6px 0 3px;}
#myContainer,
.yui-ac-container{position:absolute;z-index:999;}
.yui-ac-content{background-color:#FFF;border:solid 2px #C4C6C8;width:300px;padding:5px;margin:0;}
.yui-ac-hd{color:#999999;display:block;margin-bottom:4px;padding:0 4px;border-bottom:dashed 1px #999999;text-align:left;font-style:italic;}
.yui-ac-bd{}
.yui-ac-content ul,
.header .form-search .search-autocomplete ul{background-color:#ffffff;border:none;}
.header .form-search .search-autocomplete ul > li,
.yui-ac-content ul > li{border:solid 1px #C4C6C8;margin:4px 0;padding:4px;cursor:pointer;min-height:85px;color:#2F2F2F;}
.yui-ac-highlight{background-color:#D5E4EB;}
.searched-words{color:red;}
.search-autocomplete ul > li{text-align:left}
.search-autocomplete ul > li p{text-align:justify}
.yui-ac-content ul > li:hover{background-color:#D5E4EB;}
.yui-ac-bd ul > li.selected{background-color:#D5E4EB;}
.yui-ac-bd ul > li.aw_hidden{background-color:white;border:medium none;margin:0;padding:0;display:none;}
.std ul.disc{float:left;}
.aw-sas-suggest{text-align:left;}
.aw-sas-suggest a{margin:0 3px 0 0;}
.aw-sas-all-results-wrapper{padding-top:3px;}
.aw-sas-all-results{display:block;margin:auto;padding:0;height:36px;border:none;background:#069;color:#fff;text-align:center;text-decoration:none !important;font-weight:bold;font-size:14px;line-height:36px;cursor:pointer}
.aw-sas-suggest-all-results:hover{background:#00527a;}