<?php
/**
 * Plumrocket Inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End-user License Agreement
 * that is available through the world-wide-web at this URL:
 * http://wiki.plumrocket.net/wiki/EULA
 * If you are unable to obtain it through the world-wide-web, please
 * send an email to support@plumrocket.com so we can send you a copy immediately.
 *
 * @package     Plumrocket_Amp
 * @copyright   Copyright (c) 2016 Plumrocket Inc. (http://www.plumrocket.com)
 * @license     http://wiki.plumrocket.net/wiki/EULA  End-user License Agreement
 */
?>

<?php
    $_helper = $this->helper('catalog/output');
    $_helperAMP = $this->helper('pramp');
    $_product = $this->getProduct();
    $_iframeSrc = $_helperAMP->getIframeSrc($_product);
?>
<div id="messages_product_view"><?php echo $this->getMessagesBlock()->toHtml() ?></div>
<div class="product-shop">
    <!-- Product name -->
    <h1><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name') ?></h1>
    <!-- Product description -->
    <?php if ($_product->getShortDescription()):?>
        <div class="short-description">
            <div class="std"><?php echo $_helper->productAttribute($_product, nl2br($_product->getShortDescription()), 'short_description') ?></div>
        </div>
    <?php endif;?>
</div>

<!-- Product image -->
<div class="product-img-box">
    <?php echo $this->getChildHtml('media'); ?>
</div>

<!-- Review Summary -->
<?php echo $this->getReviewsSummaryHtml($_product, 'default', true) ?>

<div class="product-shop">
    <?php if (!$_product->canConfigure() && $_product->isSaleable()): ?>
        <?php echo $this->getPriceHtml($_product) ?>
        <?php echo $this->getChildHtml('amp.addtocart') ?>
    <?php elseif($_product->getStockItem() && $_product->getStockItem()->getIsInStock()): ?>
        <?php if ($_iframeSrc) : ?>
            <div class="iframe-container">
                <amp-iframe id="choose-options" width=<?php echo $this->getIframeWidth() ?> height=<?php echo $this->getIframeHeight() ?>
                    sandbox="allow-scripts allow-forms allow-top-navigation allow-same-origin allow-popups allow-modals allow-popups-to-escape-sandbox"
                    layout="flex-item"
                    frameborder="0"
                    src="<?php echo $_iframeSrc ?>">
                    <div class="amp-iframe-placeholder" placeholder>
                        <span><?php echo $this->helper('pramp')->__('Loading Product Options') ?></span>
                    </div>
                </amp-iframe>
            </div>
        <?php else : ?>
            <?php echo $this->getPriceHtml($_product) ?>
            <a class="button btn-cart" href="<?php echo $_helperAMP->getCanonicalUrl($_product->getUrl(), array('noforce' => 1)); ?>"><?php echo $this->__('Choose Options') ?></a>
        <?php endif; ?>

    <?php else: ?>
        <?php echo $this->getPriceHtml($_product) ?>
        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
    <?php endif; ?>

    <?php if ($sizechart = $this->getLayout()->getBlock('estimateddelivery_product')) : ?>
        <?php echo $sizechart->toHtml() ?>
    <?php endif; ?>

    <?php if ($sizechart = $this->getLayout()->getBlock('sizechart')) : ?>
        <?php echo $sizechart->toHtml() ?>
    <?php endif; ?>

    <!-- Share container -->
    <?php echo $this->getChildHtml('amp.share') ?>

    <div class="description">
        <?php
            $description = $this->helper('catalog/output')->productAttribute($this->getProduct(), $_product->getDescription(), 'description');
            $description = str_replace('"}}"', '"', $description);
            echo $description;
         ?>
    </div>
    <?php if ($attributeBlock = $this->getLayout()->getBlock('product.attributes')) : ?>
        <?php echo $attributeBlock->toHtml() ?>
    <?php endif; ?>
</div>
<!-- Review List -->
<?php echo $this->getChildHtml('amp.product.review.list') ?>
<!-- Related Products -->
<?php echo $this->getChildHtml('amp.product.related') ?>
<?php echo $this->getChildHtml('amp.product.upsell') ?>
