<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Shopbybrand
 * @version    1.3.2
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
/**
 * @var $this AW_Shopbybrand_Block_Brand
 */
?>
<?php if ($brand = $this->getBrand()): ?>
    <div class="brand_container">
        <div class="aw_brand_logo">
            <img src="<?php echo $this->getImageUrl($brand, 860, 210); ?>"
                 width="860" height="210"
                 alt="<?php echo $this->escapeHtml($brand->getTitle()); ?>"
                 title="<?php echo $this->escapeHtml($brand->getTitle()); ?>"
            />
        </div>
        <div class="brand_details">
            <h1 class="aw_brand_title">
                <?php echo $this->escapeHtml($brand->getTitle()); ?>
            </h1>
            <div class="brand-description">
                <?php echo $this->getDescription(); ?>
            </div>
        </div>
    </div>
    <div class="category-view">
        <?php echo $this->getChildHtml('productlist'); ?>
    </div>

<?php endif; ?>
