<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Shopbybrand
 * @version    1.3.2
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 * 
 * @var AW_Shopbybrand_Block_Productpage $this
 */
?><?php if ($this->isCanShow()) : ?>
    <div class="shopbybrands-brand-page">

        <?php if ($this->getProductpageConfig() == AW_Shopbybrand_Model_Source_Displaymode_Productpage::DISPLAY_BRAND_NAME): ?>
            <a href="<?php echo $this->getBrandUrl(); ?>"
               title="<?php echo $this->escapeHtml($this->getBrand()->getTitle()); ?>">
                <span class="brand-name"><?php echo $this->escapeHtml($this->getBrand()->getTitle()); ?></span>
            </a>
        <?php endif; ?>

        <?php if ($this->getProductpageConfig() == AW_Shopbybrand_Model_Source_Displaymode_Productpage::DISPLAY_BRAND_LOGO): ?>
            <a href="<?php echo $this->getBrandUrl(); ?>"
               title="<?php echo $this->escapeHtml($this->getBrand()->getTitle()); ?>">
                <img class='display-both-image'
                     src="<?php echo $this->getImageUrl(50, 50); ?>"
                     width="50"
                     alt="<?php echo $this->escapeHtml($this->getBrand()->getTitle()); ?>"
                     title="<?php echo $this->escapeHtml($this->getBrand()->getTitle()); ?>"
                />
            </a>
        <?php endif; ?>

        <?php if ($this->getProductpageConfig() == AW_Shopbybrand_Model_Source_Displaymode_Productpage::DISPLAY_BOTH): ?>
            <div class="display-both">
                <a href="<?php echo $this->getBrandUrl(); ?>"
                   title="<?php echo $this->escapeHtml($this->getBrand()->getTitle()); ?>">
                    <img class='display-both-image'
                         src="<?php echo $this->getImageUrl(50, 50); ?>"
                         width="50"
                         alt="<?php echo $this->escapeHtml($this->getBrand()->getTitle()); ?>"
                         title="<?php echo $this->escapeHtml($this->getBrand()->getTitle()); ?>"/>
                    <span class="brand-name"><?php echo $this->escapeHtml($this->getBrand()->getTitle()); ?></span>
                </a>
            </div>
        <?php endif; ?>
    </div>
<?php endif; ?>