<?php
/**
 * You are allowed to use this API in your web application.
 *
 * Copyright (C) 2013 by customweb GmbH
 *
 * This program is licenced under the customweb software licence. With the
 * purchase or the installation of the software in your application you
 * accept the licence agreement. The allowed usage is outlined in the
 * customweb software licence which can be found under
 * http://www.customweb.ch/en/software-license-agreement
 *
 * Any modification or distribution is strictly forbidden. The license
 * grants you the installation in one application. For multiuse you will need
 * to purchase further licences at http://www.customweb.com/shop.
 *
 * See the customweb software licence agreement for more details.
 *
 *
 * @category	Customweb
 * @package		Customweb_DatatransCw
 * @version		1.2.96
 */
/** @var $this Bxp_Checkout_Block_Onepage_Payment_Form */
$_code=$this->getMethodCode();
$_method = $this->getMethod();
$_description = $_method->getDescription();
?>

<fieldset class="form-list">
	<ul id="payment_form_<?php echo $_code ?>" style="display:none">
		<div id="payment_description_<?php echo $_code ?>" class="cw_payment_description">
			<?php if ($_method->getPaymentMethodConfigurationValue('show_image')) : ?>
				<img src="<?php echo $this->getSkinUrl('images/datatranscw/' . $_method->getPaymentMethodName() . '.png') ?>" /><br/>
			<?php endif; ?>

			<?php echo $this->getMethodDescription();?>
		</div>
		<?php echo $this->getAliasSelect();?>
		<input type="hidden" id="<?php echo $_code ?>_authorization_method" value="<?php echo $this->getAuthorizationMethod();?>" />
		<div id="payment_form_fields_<?php echo $_code ?>">
			<?php echo $this->getFormFields();?>
		</div>
	</ul>

	<script type="text/javascript">
		<?php echo $this->getFormJavaScript();?>
	</script>
</fieldset>