<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Giftcard
 * @version    1.0.3
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><div class="account-box ad-account-info">
    <div class="page-head">
        <h3><?php echo Mage::helper('aw_giftcard')->__('Gift Card'); ?></h3>
    </div>
    <div class="account-block account-balance">
        <p><?php echo Mage::helper('aw_giftcard')->__('Have a gift card? <a href="%s">Click here</a> to check balance.', Mage::getUrl('awgiftcard/card/index', array('_secure' => Mage::app()->getStore(true)->isCurrentlySecure()))); ?></p>
    </div>
</div>