<?php
/**
 * 
 */
?>
<div class="block block-advert">
    <div class="block-title">
        <strong><?php echo $this->helper('bxp_cms')->__('Advertisement'); ?></strong>
    </div>
    <div class="block-content" style="<?php echo $this->getDimensionsHtml() ?>">
        <?php echo $this->getContent(); ?>
    </div>
</div>