<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Searchautocomplete
 * @version    3.4.0
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php $items = $this->getItems(); ?>
<?php if (count($items)) : ?>
    <ul>
        <?php foreach ($items as $item): ?>
            <li>
                <input type="hidden" name="url" value="<?php echo $item['url'] ?>">
                <ol><?php echo $item['content'] ?></ol>
            </li>
        <?php endforeach; ?>
    </ul>
    <?php if ($this->isCanShowAllResultsButton()) : ?>
        <div class="aw-sas-all-results-wrapper">
            <a href="<?php echo $this->getResultUrl(Mage::helper('searchautocomplete')->getSearchedQuery()); ?>" class="aw-sas-all-results"><?php echo $this->__('All Results'); ?></a>
        </div>
    <?php endif; ?>
<?php else : ?>
    <ul style="display:none;"><li class="aw-sas-empty"></li></ul>
    <div><?php echo Mage::helper('searchautocomplete/config')->getInterfaceNothingFoundNotice(); ?></div>
<?php endif; ?>