<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Giftcard
 * @version    1.0.3
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><div class="entry-edit box-right">
    <div class="entry-edit-head">
        <h4 class="icon-head">
            <?php echo $this->__('Gift Cards'); ?>
        </h4>
    </div>
    <fieldset class="np">
        <div class="content">
            <p>
                <input id="giftcard_code" type="text" class="input-text" style="width:200px" />
                &nbsp;<button onclick="applyAwGiftCard()" type="button" value="" class="scalable">
                    <span><span><span><?php echo $this->__('Add Gift Card'); ?></span></span></span>
                </button>
            </p>
            <?php foreach ($this->getAwGiftCards() as $_giftcard): ?>
                <p>
                    <strong><?php echo $_giftcard->getCode(); ?></strong>
                    [<a href="#" onclick="removeAwGiftCard('<?php echo $_giftcard->getCode(); ?>'); return false;" title="<?php echo $this->__('Remove'); ?>">
                    <?php echo $this->__('Remove'); ?></a>]
                </p>
            <?php endforeach; ?>
        </div>
    </fieldset>
</div>