<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Giftcard
 * @version    1.0.3
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php if ($this->getSource()->getAwGiftCards() && count($this->getSource()->getAwGiftCards()) > 0): ?>
    <?php foreach($this->getSource()->getAwGiftCards() as $card): ?>
        <tr>
            <td class="label">
                <?php echo $this->__('Gift Card (%s)', $card->getCode()); ?>
            </td>
            <td>
                <?php echo $this->displayPrices(-$card->getBaseGiftcardAmount(), -$card->getGiftcardAmount()); ?>
            </td>
        </tr>
    <?php endforeach;?>
<?php endif; ?>