<?php
/**
 * Product list template
 *
 * @see Mage_Catalog_Block_Product_List
 * @var Mage_Catalog_Block_Product_List $this
 */
?>
<?php
$_productCollection = $this->getProductCollection();
$_helper = $this->helper('catalog/output');
$helper = $this->helper('shoppersettings/image');
$bxp_helper = $this->helper('bxp_product');
$cms_id = $this->helper('shoppersettings')->getCurrentCmsPage();
if (!$cms_id) {
    $pageLayout = $this->getLayout()->getBlock('root')->getTemplate();
    if (strpos($pageLayout, '2columns')) {
        $grid_class = 'two_columns_' . Mage::getStoreConfig('shoppersettings/catalog/grid_columns_2col');
    } else {
        $grid_class = 'one_column_' . Mage::getStoreConfig('shoppersettings/catalog/grid_columns_1col');
    }
} else {
    if ($cms_id == 'shopper_home') {
        $grid_class = 'one_column_' . Mage::getStoreConfig('shoppersettings/catalog/grid_columns_1col');
    } else {
        $grid_class = 'two_columns_' . Mage::getStoreConfig('shoppersettings/catalog/grid_columns_2col');
    }
}

$imgX = 252;
$imgY = $helper->calculateHeight($imgX);
?>
<?php if ($_productCollection->count()): ?>
    <div class="category-products">
        <h2><?php echo $this->__($this->getBlockTitle()); ?></h2>
        <?php $_collectionSize = $_productCollection->count(); ?>
        <ul class="products-grid <?php echo $grid_class; ?>">
            <?php foreach ($_productCollection as $_product): ?>
                <li class="item item-<?php echo $_product->getId() ?>">

                    <div class="regular">
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" class="product-image">
                            <?php echo $this->helper('shoppersettings')->getLabel($_product); ?>
                            <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($imgX, $imgY) ?>" data-srcX2="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($imgX * 2, $imgY * 2) ?>" width="<?php echo $imgX; ?>" height="<?php echo $imgY; ?>" alt="<?php echo $this->htmlEscape($_product->getName()) ?>" />
                        </a>
                        <div class="product-info">
                            <div class="product-data clearfix">
                                <div class="product-title">
                                    <?php $_productNameStripped = $this->stripTags($_product->getName(), null, true); ?>
                                    <a class="product-name" href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_productNameStripped; ?>"><?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?></a>
                                    <div class="brand hidden" itemprop="brand" itemscope itemtype="http://schema.org/Organization">
                                        <a href="<?php echo $bxp_helper->getBrandUrl($_product) ?>" itemprop="name"><?php echo $_product->getAttributeText('manufacturer'); ?></a>
                                    </div>
                                    <div class="product-content">
                                        <?php echo $_product->getContent(); ?>
                                    </div>
                                </div>
                                <?php echo $this->getPriceHtml($_product, true) ?>
                            </div>

                            <div class="product-quick-form clearfix"  data-title="<?php echo $this->getProductQuickFormLabel($_product->getId())?>" data-d="<?php echo get_class($this)?>">
                                <?php echo $this->getProductQuickForm($_product->getId()); ?>
                            </div>
                            <div class="button-container">
                                <?php if ($_product->isSaleable()): ?>
                                    <?php if (Mage::getStoreConfig('shoppersettings/ajax/cart')) : ?>
                                        <?php if (!($_product->getTypeInstance(true)->hasRequiredOptions($_product) || $_product->isGrouped())): ?>
                                
                                
                                                <?php if ($_product->getTypeInstance(true)->hasOptions($_product)): ?>
                                            <p><button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button" onclick="setLocation('<?php echo $this->getProductUrl($_product); ?>')" data-id="<?php echo $_product->getId(); ?>"><span><span>
                                                                <?php echo $this->__('jetzt gravieren') ?>

                                                        </span></span></button></p>
                                                        <?php else:?>
                                                        
                                                            <p><button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart ajax-cart" data-url="<?php echo $this->getAddToCartUrl($_product); ?>" data-id="<?php echo $_product->getId(); ?>"><span><span>
                                                            
                                                                <?php echo $this->__('Add to Cart') ?>
                                                            
                                                        </span></span></button></p>
                                                        
                                                        
                                                        <?php endif;?>
                                                        
                                                        
                                                        
                                        <?php else: ?>
                                                                   
                                              <?php if ($_product->getTypeInstance(true)->hasOptions($_product)): ?>
                                            <p><button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button" onclick="setLocation('<?php echo $this->getProductUrl($_product); ?>')" data-id="<?php echo $_product->getId(); ?>"><span><span>
                                                                <?php echo $this->__('jetzt gravieren') ?>

                                                        </span></span></button></p>
                                                        <?php else:?>
                                                        
                                                            <p><button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart ajax-cart" data-url="<?php echo $this->getAddToCartUrl($_product); ?>" data-id="<?php echo $_product->getId(); ?>"><span><span>
                                                            
                                                                <?php echo $this->__('Add to Cart') ?>
                                                            
                                                        </span></span></button></p>
                                                        
                                                        
                                                        <?php endif;?>
                                                        
                                                        
                                        <?php endif; ?>
                                    <?php else: ?>            
                                          <?php if ($_product->getTypeInstance(true)->hasOptions($_product)): ?>
                                            <p><button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button" onclick="setLocation('<?php echo $this->getProductUrl($_product); ?>')" data-id="<?php echo $_product->getId(); ?>"><span><span>
                                                                <?php echo $this->__('jetzt gravieren') ?>

                                                        </span></span></button></p>
                                                        <?php else:?>
                                                        
                                                            <p><button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart ajax-cart" data-url="<?php echo $this->getAddToCartUrl($_product); ?>" data-id="<?php echo $_product->getId(); ?>"><span><span>
                                                            
                                                                <?php echo $this->__('Add to Cart') ?>
                                                            
                                                        </span></span></button></p>
                                                        
                                                        
                                                        <?php endif;?>
                                    <?php endif; ?>
                                <?php else: ?>
                                    <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                                        <?php endif; ?>
                            </div>
                        </div>
                    </div>
                </li>
            <?php endforeach ?>
        </ul>
    </div>
<?php endif; ?>
