<?php
$category = Mage::getModel('catalog/category')
        ->setStoreId(Mage::app()->getStore()->getStoreId())
        ->load(16);
?>
<?php if (isset($category)): ?>
    <li class="level0 nav-0 parent">
        <a href="javascript:void(0);">
            <span><?php echo $category->getName(); ?></span>
        </a>
        <div class="sub-wrapper">
            <ul class="level0">
                <li class="">
                    <ol>
                        <li class="first">
                            <a href="<?php echo Mage::getBaseUrl() ?>gift-card.html?amount=20"><?php echo $category->getName(); ?> CHF 20</a>
                        </li>
                        <li>
                            <a href="<?php echo Mage::getBaseUrl() ?>gift-card.html?amount=50"><?php echo $category->getName(); ?> CHF 50</a>
                        </li>
                        <li>
                            <a href="<?php echo Mage::getBaseUrl() ?>gift-card.html?amount=100"><?php echo $category->getName(); ?> CHF 100</a>
                        </li>
                        <li>
                            <a href="<?php echo Mage::getBaseUrl() ?>gift-card.html?amount=200"><?php echo $category->getName(); ?> CHF 200</a>
                        </li>
                        <li>
                            <a href="<?php echo Mage::getBaseUrl() ?>gift-card.html"><?php echo $this->__('or of your choice') ?></a>
                        </li>
                    </ol>
                </li>
            </ul>
        </div>
    </li>
<?php endif; ?>

<?php foreach ($this->getLinks() as $link): ?>
    <li class="level0 nav-cms-<?php echo $link['id'] ?> <?php echo $link['classes'] ?>">
        <a href="<?php echo $link['url'] ?>"><span><?php echo $link['title'] ?></span></a>
        <?php if (isset($link['sub_menu']) && is_array($link['sub_menu'])): ?>
        <?php endif; ?>
    </li>
<?php endforeach; ?>
  
