<script type="text/javascript"> 
//<![CDATA[
var columnTemplate = '<div class="option-box" id="column_{{id}}">'+
            '<table id="table_column_{{id}}" class="option-header" cellpadding="0" cellspacing="0">'+
            '<input type="hidden" id="table_column_{{id}}_is_delete" name="table[column][{{id}}][is_delete]" value="" />'+
            '<input type="hidden" id="table_column_{{id}}_id" name="table[column][{{id}}][id]" value="{{id}}" />'+
            '<input type="hidden" id="table_column_{{id}}_column_id" name="table[column][{{id}}][column_id]" value="{{column_id}}" />'+
            '<thead>'+
                '<tr>'+
                    '<th style="width: 250px"><?php echo Mage::helper('html2pdf')->__('Title') ?> <span class="required">*</span></th>'+
                    '<th style="width: 80px"><?php echo Mage::helper('html2pdf')->__('Width') ?> <span class="required">*</span></th>'+
                    '<th style="width: 150px"><?php echo Mage::helper('html2pdf')->__('Rowspan') ?> <span class="required">*</span></th>'+
                    '<th style="width: 150px"><?php echo Mage::helper('html2pdf')->__('Sort order') ?> <span class="required">*</span></th>'+
                    '<th class="a-right"><?php echo $this->jsQuoteEscape($this->getDeleteButtonHtml()) ?></th>'+
                '</tr>'+
            '</thead>'+
            '<tr>'+
                '<td><input type="text" class="required-entry input-text" id="table_column_{{id}}_title" name="table[column][{{id}}][title]" value="{{title}}"></td>'+
                '<td><input type="text" class="validate-zero-or-greater input-text" style="width: 50px;" id="table_column_{{id}}_width"  name="table[column][{{id}}][width]" value="{{width}}"></td>'+
                '<td><select class="select" id="table_column_{{id}}_row_span" name="table[column][{{id}}][row_span]"><option value="0"><?php echo Mage::helper('html2pdf')->__('Do not span') ?></option><option value="1"><?php echo Mage::helper('html2pdf')->__('Span all rows') ?></option></select></td>'+
                '<td><input type="text" class="validate-zero-or-greater input-text" style="width: 50px;" id="table_column_{{id}}_sort_order" name="table[column][{{id}}][sort_order]" value="{{sort_order}}"></td>'+
                '<td>&nbsp;</td>'+
	        '</tr><tr><td colspan="4" style="border-top:1px solid #cddddd;">'+
		        '<table cellpadding="0" cellspacing="0" border="0"><tr><thead>'+
	                    '<th style="width: 200px"><?php echo Mage::helper('html2pdf')->__('Bundle product format') ?> <span class="required">*</span></th>'+
	                    '<th style="width: 200px"><?php echo Mage::helper('html2pdf')->__('Download product format') ?> <span class="required">*</span></th>'+
	                    '<th style="width: 200px"><?php echo Mage::helper('html2pdf')->__('Virtual product format') ?> <span class="required">*</span></th>'+
	            '</thead>'+
	            '</tr><tr>'+
	                '<td><select class="select" id="table_column_{{id}}_bundle_drop" name="table[column][{{id}}][bundle_drop]"><option value="0"><?php echo Mage::helper('html2pdf')->__('Do not show') ?></option><option value="2"><?php echo Mage::helper('html2pdf')->__('Use custom format') ?></option></select>'+
	                '<input type="hidden" id="table_column_{{id}}_bundle_show" name="table[column][{{id}}][bundle_show]" value="{{bundle_show}}" /></td>'+
	                '<td><select class="select" id="table_column_{{id}}_download_drop" name="table[column][{{id}}][download_drop]"><option value="0"><?php echo Mage::helper('html2pdf')->__('Do not show') ?></option><option value="1"><?php echo Mage::helper('html2pdf')->__('Use default format') ?></option><option value="2"><?php echo Mage::helper('html2pdf')->__('Use custom format') ?></option></select>'+
	                '<input type="hidden" id="table_column_{{id}}_download_show" name="table[column][{{id}}][download_show]" value="{{download_show}}" /></td>'+
	                '<td><select class="select" id="table_column_{{id}}_virtual_drop" name="table[column][{{id}}][virtual_drop]"><option value="0"><?php echo Mage::helper('html2pdf')->__('Do not show') ?></option><option value="1"><?php echo Mage::helper('html2pdf')->__('Use default format') ?></option><option value="2"><?php echo Mage::helper('html2pdf')->__('Use custom format') ?></option></select>'+
	                '<input type="hidden" id="table_column_{{id}}_virtual_show" name="table[column][{{id}}][virtual_show]" value="{{virtual_show}}" /></td>'+
	            '</tr></table>'+
            '</td></tr><tr><td colspan="4" style="border-top:1px solid #cddddd;">'+
	        	'<table cellpadding="0" cellspacing="0" border="0"><tr><td width="200px">'+
		            '<b><?php echo Mage::helper('html2pdf')->__('Custom style:') ?></b>'+
		            '<td width="400px"><textarea rows="1" cols="80" class="input-textarea" id="table_column_{{id}}_custom_style" name="table[column][{{id}}][custom_style]">{{custom_style}}</textarea></td>'+
		    	'</tr></table>'+
		    '</td></tr><tr><td colspan="4" style="border-top:1px solid #cddddd;">'+
            	'<table cellpadding="0" cellspacing="0" border="0"><tr><td width="200px">'+
	                '<b><?php echo Mage::helper('html2pdf')->__('Default product format:') ?></b>'+
	                '<td width="400px"><textarea rows="2" cols="80" class="input-textarea" id="table_column_{{id}}_value" name="table[column][{{id}}][value]">{{value}}</textarea></td>'+
            	'</tr><tr><td>'+
	            	'<b><?php echo Mage::helper('html2pdf')->__('Option format:') ?></b>'+
	            	'<td><textarea rows="2" cols="80" class="input-textarea" id="table_column_{{id}}_option_value" name="table[column][{{id}}][option_value]">{{option_value}}</textarea></td>'+
        		'</tr></table>'+
            '</td></tr><tr><td colspan="4">'+
            '<div id="column_{{id}}_bundle_div" style="border-top:1px solid #cddddd;">'+
               	'<table cellpadding="0" cellspacing="0" border="0"><tr><td width="200px">'+
	                '<b><?php echo Mage::helper('html2pdf')->__('Bundle product format:') ?></b>'+
	                '<td width="400px"><textarea rows="2" cols="80" class="input-textarea" id="table_column_{{id}}_bundle_product" name="table[column][{{id}}][bundle_product]">{{bundle_product}}</textarea></td>'+
            	'</tr><tr><td>'+
	                '<b><?php echo Mage::helper('html2pdf')->__('Bundle itemsgroup format:') ?></b>'+
	                '<td><textarea rows="2" cols="80" class="input-textarea" id="table_column_{{id}}_bundle_item_group" name="table[column][{{id}}][bundle_item_group]">{{bundle_item_group}}</textarea></td>'+
	        	'</tr><tr><td>'+
	            	'<b><?php echo Mage::helper('html2pdf')->__('Bundle item format:') ?></b>'+
	            	'<td><textarea rows="2" cols="80" class="input-textarea" id="table_column_{{id}}_bundle_item" name="table[column][{{id}}][bundle_item]">{{bundle_item}}</textarea></td>'+
        		'</tr></table>'+
            '</div>'+
            '</td></tr><tr><td colspan="4">'+
            '<div id="column_{{id}}_download_div" style="border-top:1px solid #cddddd;">'+
               	'<table cellpadding="0" cellspacing="0" border="0"><tr><td width="200px">'+
	                '<b><?php echo Mage::helper('html2pdf')->__('Download product format:') ?></b>'+
	                '<td width="400px"><textarea rows="2" cols="80" class="input-textarea" id="table_column_{{id}}_download_value" name="table[column][{{id}}][download_value]">{{download_value}}</textarea></td>'+
            	'</tr><tr><td>'+
	            	'<b><?php echo Mage::helper('html2pdf')->__('Option format:') ?></b>'+
	            	'<td><textarea rows="2" cols="80" class="input-textarea" id="table_column_{{id}}_download_option_value" name="table[column][{{id}}][download_option_value]">{{download_option_value}}</textarea></td>'+
        		'</tr></table>'+
            '</div>'+
            '</td></tr><tr><td colspan="4">'+
            '<div id="column_{{id}}_virtual_div" style="border-top:1px solid #cddddd;">'+
               	'<table cellpadding="0" cellspacing="0" border="0"><tr><td width="200px">'+
	                '<b><?php echo Mage::helper('html2pdf')->__('Virtual product format:') ?></b>'+
	                '<td width="400px"><textarea rows="2" cols="80" class="input-textarea" id="table_column_{{id}}_virtual_value" name="table[column][{{id}}][virtual_value]">{{virtual_value}}</textarea></td>'+
            	'</tr><tr><td>'+
	            	'<b><?php echo Mage::helper('html2pdf')->__('Option format:') ?></b>'+
	            	'<td><textarea rows="2" cols="80" class="input-textarea" id="table_column_{{id}}_virtual_option_value" name="table[column][{{id}}][virtual_option_value]">{{virtual_option_value}}</textarea></td>'+
        		'</tr></table>'+
            '</div>'+
	        '</td></tr></table></div>';

var tableColumn = {
    div : $('table_column_container_top'),
    templateSyntax : /(^|.|\r|\n)({{(\w+)}})/,
    templateText : columnTemplate,
    itemCount : 1,
    itemNext : 1,
    add : function(data) {
        this.template = new Template(this.templateText, this.templateSyntax);
		if(!data.id){
        	data = {};
            data.id  = this.itemNext;
            data.type = '';
            data.column_id = 0;
        } else {
        	this.itemNext = data.item_count;
        }
        this.itemCount = data.id;
        
        Element.insert(this.div, {'after':this.template.evaluate(data)}); //$('column_'+data.id)
        $('table_column_'+this.itemCount+'_row_span').setValue(data.row_span);

        this.bindRemoveButtons();
        this.bindbundle();
        this.binddownload();
        this.bindvirtual();
        this.itemNext++;
    },
    remove : function(event){
        var element = $(Event.findElement(event, 'div'));
        if(element){
            $('table_'+element.readAttribute('id')+'_is_delete').value = '1';
            element.addClassName('no-display');
            element.addClassName('ignore-validate');
            element.hide();
        }
    },
    bindRemoveButtons : function(){
        var buttons = $$('div.html2pdf-table-column .delete-table-column');
        for(var i=0;i<buttons.length;i++){
            if(!$(buttons[i]).binded){
                $(buttons[i]).binded = true;
                Event.observe(buttons[i], 'click', this.remove.bind(this));
            }
        }
        var inputs = $$('div.html2pdf-table-column button', 'div.html2pdf-table-column input', 'div.html2pdf-table-column select', 'div.html2pdf-table-column textarea');
        inputs.each(function(el) { Event.observe(el, 'change', el.setHasChanges.bind(el));  } )
    },
    bundleshow : function(event){
    	var element = $(Event.findElement(event, 'div'));
        var bundlediv = $(element.readAttribute('id')+'_bundle_div');
		$('table_'+element.readAttribute('id')+'_bundle_show').value = $('table_'+element.readAttribute('id')+'_bundle_drop').value;
		if(bundlediv){
            if($('table_'+element.readAttribute('id')+'_bundle_drop').value == 2){
            	bundlediv.show();
            }else{
            	bundlediv.hide();
            }
        }
    },
    bindbundle : function(){
        var bundle = $('table_column_'+this.itemCount+'_bundle_drop');
        var bundlehidden = $('table_column_'+this.itemCount+'_bundle_show');
		if(bundlehidden.value.empty())
			bundlehidden.value = '0';        
        var bundleoption = bundle.select('option[value="' + bundlehidden.value + '"]');
        if (bundleoption && bundleoption.length > 0)
        	bundleoption[0].selected = true;
        		
		if(bundlehidden.value != 2)
			$('column_'+this.itemCount+'_bundle_div').hide();
		
		if(!bundle.binded){
            bundle.binded = true;
            Event.observe(bundle, 'change', this.bundleshow.bind(this));
        }
    },
    downloadshow : function(event){
    	var element = $(Event.findElement(event, 'div'));
        var downloaddiv = $(element.readAttribute('id')+'_download_div');
		$('table_'+element.readAttribute('id')+'_download_show').value = $('table_'+element.readAttribute('id')+'_download_drop').value;
		if(downloaddiv){
            if($('table_'+element.readAttribute('id')+'_download_drop').value == 2){
            	downloaddiv.show();
            }else{
            	downloaddiv.hide();
            }
        }
    },
    binddownload : function(){
        var download = $('table_column_'+this.itemCount+'_download_drop');
        var downloadhidden = $('table_column_'+this.itemCount+'_download_show');
		if(downloadhidden.value.empty())
			downloadhidden.value = '0';        
        var downloadoption = download.select('option[value="' + downloadhidden.value + '"]');
        if (downloadoption && downloadoption.length > 0)
        	downloadoption[0].selected = true;
		if(downloadhidden.value != 2)
			$('column_'+this.itemCount+'_download_div').hide();
		
		if(!download.binded){
            download.binded = true;
            Event.observe(download, 'change', this.downloadshow.bind(this));
        }
    },
    virtualshow : function(event){
    	var element = $(Event.findElement(event, 'div'));
        var virtualdiv = $(element.readAttribute('id')+'_virtual_div');
		$('table_'+element.readAttribute('id')+'_virtual_show').value = $('table_'+element.readAttribute('id')+'_virtual_drop').value;
		if(virtualdiv){
            if($('table_'+element.readAttribute('id')+'_virtual_drop').value == 2){
            	virtualdiv.show();
            }else{
            	virtualdiv.hide();
            }
        }
    },
    bindvirtual : function(){
        var virtual = $('table_column_'+this.itemCount+'_virtual_drop');
        var virtualhidden = $('table_column_'+this.itemCount+'_virtual_show');
		if(virtualhidden.value.empty())
			virtualhidden.value = '0';        
        var virtualoption = virtual.select('option[value="' + virtualhidden.value + '"]');
        if (virtualoption && virtualoption.length > 0)
        	virtualoption[0].selected = true;
        		
		if(virtualhidden.value != 2)
			$('column_'+this.itemCount+'_virtual_div').hide();
		
		if(!virtual.binded){
            virtual.binded = true;
            Event.observe(virtual, 'change', this.virtualshow.bind(this));
        }
         
    },
}

tableColumn.bindRemoveButtons();

if($('<?php echo $this->getAddButtonId() ?>')){
    Event.observe('<?php echo $this->getAddButtonId() ?>', 'click', tableColumn.add.bind(tableColumn));
}

//adding data
<?php foreach ($this->getColumnValues() as $_value): ?>
	tableColumn.add(<?php echo $_value->toJson() ?>);
<?php endforeach; ?>

//]]>
</script>