<?php foreach ($this->getWidgets() as $widget) : ?>
		<div class="<?php echo $this->escapeHtml($widget['checkoutName']) ?>-widget datatranscw-external-checkout-widget">
			<?php echo $widget['html'] ?>
		</div>
	</li>
	<li>
<?php endforeach; ?>