<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Giftcard
 * @version    1.0.3
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><?php
$giftcard = Mage::getSingleton('checkout/session')->getCurrentGiftCard();
Mage::getSingleton('checkout/session')->setCurrentGiftCard(null);
?>
<?php if ($giftcard): ?>
    <div class="gift-card-info">
        <p><?php echo $this->__("Gift Card: %s", '<strong class="giftcard-number">' . $giftcard->getCode() . '</strong>'); ?></p>
        <p><?php echo $this->__('Current Balance: %s', '<strong>' . Mage::helper('core')->currency($giftcard->getBalance()) . '</strong>'); ?></p>
        <?php if ($giftcard->getExpireAt()): ?>
            <p><?php echo $this->__('Expires: %s', '<strong>' . $this->formatDate($giftcard->getExpireAt(), 'short') . '</strong>'); ?></p>
        <?php endif; ?>
    </div>
<?php else: ?>
    <p class="error-msg"><?php echo $this->__('Wrong or expired Gift Card Code.'); ?></p>
<?php endif; ?>
