<?php $logo = Mage::getStoreConfig('plgwettbewerb/general/logo'); //var_dump($logo); ?>
<?php if(strlen($logo)): ?>
<div class="slider row clearfix">
    <div class="flexslider grid_12">
        <div class="flex-viewport" style="overflow: hidden; position: relative;">

            <ul class="slides" style="width: 100%; margin-left: 0px;">
                <li style="height: 380px; width: 100%; float: left; display: block; background: url(&quot;<?php echo Mage::getBaseUrl('media').'/theme/'.$logo//$this->getSkinUrl('images/wettbewerb/moods_wettbewerb.png'); ?>&quot;) 100% 0px no-repeat;"
                    data-img-height="380"
                    data-bg="url(&quot;<?php echo Mage::getBaseUrl('media').'/theme/'.$logo//$this->getSkinUrl('images/wettbewerb/moods_wettbewerb.png'); ?>&quot;)"
                    class="clone" aria-hidden="true">
                </li>
            </ul>

        </div>
    </div>
</div>
<?php endif; ?>