<?php
/**
 * @var $this Mage_Core_Block_Template
 */
$model = Mage::registry('current_wettbewerb_user');
$form= new Varien_Data_Form(array(
    'useContainer' => true,
    'id'=> 'webinseform',
    'action' => $this->getUrl('*/*/save', array(
        'id' => $this->getRequest()->getParam('id')
    )),
    'method'=> 'post',
    'enctype'=> 'multipart/form-data'));
$form->setUseContainer(true);
$form->addField('vorname','text', array('label'=>'Vorname'));
$form->addField('name','text',array('label'=>'Name'));
$form->addField('strasse','text',array('label'=>'Strasse'));
$form->addField('plz','text',array('label'=>'PLZ'));
$form->addField('ort','text',array('label'=>'ORT'));
$form->addField('email','text',array('label'=>'E-mail'));
$form->addField('phone','text',array('label'=>'Telephone'));
$form->addField('date_birth','Date',array('label'=>'Geburtsdatum'))->setFormat(Mage::app()->getLocale()->getDateFormat(Mage_Core_Model_Locale::FORMAT_TYPE_LONG));
if($data = Mage::getSingleton('adminhtml/session')->getFormData()){
    $form->setValues($data);
} else {
    $form->setValues($model->getData());
}
$submit = new Varien_Data_Form_Element_Submit(array(
    'value' => 'Abschicken',
    'id' => 'submit'
));
$form->addElement($submit);
$form->toHtml();
$action = $this->getUrl('*/*/save', array(
    'id' => $this->getRequest()->getParam('id')
));
?>
<script>
    (function($){
        $(document).ready(function(){
            $(".wettbewerb-body-conditions").on('click',function(){
                $(".wettbewerb-modal").show();
            });
            $(".wettbewerb-modal-close, .wettbewerb-modal-back").on('click', function () {
                console.log('dasd');
                $(".wettbewerb-modal").hide();
            });
        });
    })(jQuery)
</script>
<?php //Zend_Debug::dump( array_keys( $this->getChild() ) ); ?>
<?php if($plg_wettbewerb_modal = $this->getChildHtml('block_plg_wettbewerb_modal')): ?>
<div class="wettbewerb-modal">
    <div class="wettbewerb-modal-header">
        <h1 class="wettbewerb-modal-title">TEILNAHMEBEDINGUNGEN:</h1>
    </div>
    <div class="wettbewerb-modal-footer">
        <div>
            <button class="wettbewerb-modal-back">zurück</button>
        </div>
    </div>
    <div class="wettbewerb-modal-body">
        <br>
        <?php echo $plg_wettbewerb_modal ?>
    </div>
    <div class="wettbewerb-modal-close">x</div>
</div>
<?php endif; ?>

<?php if($plg_wettbewerb = $this->getChildHtml('block_plg_wettbewerb')): ?>
<div class="wettbewerb-head">
    <?php echo $plg_wettbewerb ?>
</div>
<?php endif; ?>
<div class="wettbewerb-body">
    <form class="wettbewerb-form" action="<?php echo $action?>" method="post" enctype="multipart/form-data"  id="wettbewerb_form">
        <fieldset>
            <div class="one-row gender-select">
                    <input id="gender_herr" type="radio" name="gender" class="required validate-one-required-by-name" value="Herr"/>
                    <label for="gender_herr">Herr</label>
                
                    <input id="gender_frau" type="radio" name="gender" class="required validate-one-required-by-name" value="Frau"/>
                    <label for="gender_frau">Frau</label>
            </div>
        </fieldset>
        <fieldset>
            <div>
                <label>Vorname</label>
                <input class="input-text required-entry validate-vorname" type="text" name="vorname">
            </div>
            <div>
                <label>Name</label>
                <input class="input-text required-entry validate-name" type="text" name="name">
            </div>
            <div>
                <label>Strasse</label>
                <input class="input-text required-entry validate-strasse" type="text" name="strasse">
            </div>
        </fieldset>

        <fieldset>
            <div>
                <label>PLZ</label>
                <input class="input-text required-entry validate-plz" type="text" name="plz">
            </div>
            <div>
                <label>ORT</label>
                <input class="input-text required-entry" type="text" name="ort">
            </div>
            <div>
                <label>E-Mail</label>
                <input class="input-text required-entry validate-email" type="text" name="email">
            </div>
        </fieldset>

        <fieldset>
            <div>
                <label>Telefon</label>
                <input class="input-text required-entry validate-phone mask-phone" type="text" name="phone">
            </div>
            <div>
                <label>Geburtsdatum</label>
                <div  style="margin-right: 0;width: 80%;float: left;">
                    <input name="birth" id="birth" type="text" class=" input-text  required-entry validate-date mask-date">
                </div>
                <img src="<?php echo Mage::getBaseUrl() ?>skin/adminhtml/default/default/images/grid-cal.gif" alt="" class="v-middle" id="date_birth_trig" title="Select Date" style="float: right;margin-top: 7px;margin-right: 20px;">
                <script type="text/javascript">
                    //<![CDATA[
                    Calendar.setup({
                        inputField: "birth",
                        ifFormat: "%d.%m.%Y",
                        showsTime: false,
                        button: "date_birth_trig",
                        align: "Bl",
                        singleClick : true
                    });
                    //]]>
                </script>
            </div>
        </fieldset>

        <fieldset>
            <div class="one-row">
                <input type="checkbox" name="conditions" class="checkbox required-entry"/>
                <span>Ich stimme den <a class="wettbewerb-body-conditions">Teilnahmebedingungen</a> zu</span>
            </div>
        </fieldset>
        <fieldset>
            <?php
            /**
             * @var $block Studioforty9_Recaptcha_Block_Explicit
             */
            $block = $this->getLayout()->getBlock('recaptcha');
            $block->setTemplate('studioforty9/recaptcha/explicit.phtml');
            $block->setAllow(true);
            ?>
            <?php echo $block->toHtml();?>
        </fieldset>
        <fieldset>
            <div>
                <input type="submit" value="Abschicken">
            </div>
        </fieldset>
        <div class="clearfix"></div>
    </form>
    <script type="text/javascript">
        //<![CDATA[
        (function($){
            $.mask.definitions['f'] = "(1|2)";
            $.mask.definitions['s'] = "(0|9)";
            $.mask.definitions['t'] = "([0-9])";
            $(".mask-phone").mask("999-999-99-99");
            $(".mask-date").mask("99.99.fs99",{placeholder:"TT.MM.JJJJ"});
        })(jQuery);
        Validation.add('validate-vorname', 'Bitte fülle einen gültigen Vornamen aus.', function(v){
            return /^([äöüÄÖÜßèéû\w\s\d]+)$/.test(v);
        });
        Validation.add('validate-name', 'Bitte fülle einen gültigen Namen ein.', function(v){
            return /^([äöüÄÖÜßèéû\w\s\d]+)$/.test(v);
        });
        Validation.add('validate-strasse', 'Bitte gib gültige Strassenangaben ein.', function(v){
            return /^([äöüÄÖÜßèéû\w\s\d]+)$/.test(v);
        });
        Validation.add('validate-plz', 'Bitte gib eine gültige PLZ ein.', function(v){
            return /^([\d]{4})$/.test(v);
        });
        Validation.add('validate-date', 'Bitte gib ein gültiges Geburtstagsdatum an. Teilnahmebedingung 18+', function(v){
            function _calculateAge(birthday) { // birthday is a date
                var ageDifMs = Date.now() - birthday.getTime();
                var ageDate = new Date(ageDifMs); // miliseconds from epoch
                return Math.abs(ageDate.getUTCFullYear() - 1970);
            }

            var date = new Date(v);
            var age = _calculateAge(date);
            if(age < 18){
                return false;
            }
            return /^(0[1-9]|[1-2][0-9]|3[0-1])\.(0[1-9]|1[0-2])\.(1[7-9]|2[0-9])[0-9]{2}$/.test(v);
        });
        Validation.add('validate-phone', 'Bitte gib eine gültige Telefonnummer ein. Zum Beispiel 079 111 11 11 oder 0791111111', function(v){
            return /^([\d]{3}(-|\s)?[\d]{3}(-|\s)?[\d]{2}(-|\s)?[\d]{2})$/.test(v);
        });
        Validation.add('validate-email', 'Bitte gib eine gültige Mailadresse ein. Zum Beispiel hmuster@gmail.ch.', function(v){
            return /^([a-z0-9,!\#\$%&'\*\+\/=\?\^_`\{\|\}~-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z0-9,!\#\$%&'\*\+\/=\?\^_`\{\|\}~-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*@([a-z0-9-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z0-9-]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*\.(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]){2,})$/i.test(v);
        });
        var productSendtofriendForm = new VarienForm('wettbewerb_form');
        productSendtofriendForm.submit = function() {
            window.console.log('validator',this.validator.validate());
            if(this.validator.validate()) {
                this.form.submit();
            }
        }.bind(productSendtofriendForm);
        //]]>
    </script>
</div>
