<?php
/**
 * @var $this Mage_Core_Block_Template
 */
$model = Mage::registry('current_wettbewerb_user');
$redirectUrl = Mage::getStoreConfig('plgwettbewerb/general/url_redirect') ? Mage::getStoreConfig('plgwettbewerb/general/url_redirect') : Mage::getBaseUrl();
?>
<script>
    (function($){
        $(document).ready(function(){
            setTimeout(function(){
                window.location.href = '<?php echo $redirectUrl; ?>';
            }, 5000);
        });
    })(jQuery)
</script>
<!--<div class="wettbewerb-modal">
    <div class="wettbewerb-modal-header">
        <h1 class="wettbewerb-modal-title">TEILNAHMEBEDINGUNGEN:</h1>
    </div>
    <div class="wettbewerb-modal-body">
        <p>
            Die Teilnahme am Wettbewerb ist nicht an einen Kauf gebunden. Die
            Gewinner werden schriftlich benachrichtigt.
        </p>
        <p>
            Teilnahmeschluss ist der 30. September 2016. Der Rechtsweg ist ausgeschlossen. Über die Verlosung wird keine Korrespondenz geführt. Der Preis kann nicht umgetauscht oder in bar ausbezahlt werden. Nur eine Teilnahme pro Person. Adressen können für eigene Marketingaktivitäten von smoke24.ch verwendet werden.
        </p>
        <br />
        <p>
            Zu verlosen:
            <ul>
                <li>10 Bluetooth Speaker</li>
                <li>20 Sets bestehend aus: je eine Packung Al Capone Sweet Cognac, Al Capone Irish Coffe und Al Capone Pockets
                    Filter sowie Aschenbecher und Feuerzeug von Al Capone</li>
            </ul>
        </p>
    </div>
    <div class="wettbewerb-modal-footer">
        <div>
            <button class="wettbewerb-modal-back">zurück</button>
        </div>
    </div>
    <div class="wettbewerb-modal-close">x</div>
</div>-->


<div class="wettbewerb-head">
    <!--<div class="wettbewerb-head-header">
        <h1 class="wettbewerb-head-title">Smoke24 Wettbewerb:</h1>
    </div>-->
    <div class="wettbewerb-head-body">
        <p class="wettbewerb-head-text">
            <b>Danke für deine Teilnahme!</b>
        </p>
    </div>
</div>
